{
  "swagger": "2.0",
  "info": {
    "title": "known-admin-v1",
    "version": "0.1.19",
    "contact": {
      "name": "admin.v1.known",
      "url": "http://admin.v1.known.api.grpc-kit.com"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "https://github.com/grpc-kit/cli/blob/main/LICENSE"
    }
  },
  "host": "admin.v1.known.api.grpc-kit.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/builtin/admin/api/v1/auth/callback/{provider_name}": {
      "get": {
        "operationId": "KnownAdmin_GetAuthCallback",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAuthCallbackResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/login": {
      "post": {
        "summary": "认证鉴权",
        "operationId": "KnownAdmin_CreateAuthLogin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateAuthLoginResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthLoginRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/providers": {
      "get": {
        "operationId": "KnownAdmin_ListAuthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListAuthProvidersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "KnownAdmin_CreateAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/token": {
      "post": {
        "operationId": "KnownAdmin_CreateAuthToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateAuthTokenResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthTokenRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/credentials": {
      "post": {
        "summary": "rpc CreateUserIdentity(CreateUserIdentityRequest) returns(User);\n安全相关",
        "operationId": "KnownAdmin_CreateCredential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Credential"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "credential",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Credential"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/database/initialize": {
      "post": {
        "summary": "数据库相关",
        "operationId": "KnownAdmin_CreateDatabaseInitialize",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateDatabaseInitializeRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments": {
      "get": {
        "operationId": "KnownAdmin_ListDepartments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListDepartmentsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "部门相关",
        "operationId": "KnownAdmin_CreateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department.id",
            "description": "ID 实体 ID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "department",
            "description": "Department 组织部门实体，树形结构，一个用户仅可在一个部门内",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "ParentID 父 ID，为 0 表示顶级菜单"
                },
                "name": {
                  "type": "string",
                  "title": "Name 部门名称"
                },
                "i18n_name": {
                  "$ref": "#/definitions/v1I18NName",
                  "title": "I18nName 国际化名称"
                },
                "order_weight": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OrderWeight 菜单排序权重，数字越小越靠前"
                },
                "leaders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Leader"
                  },
                  "title": "Leaders 部门领导列表"
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Department"
                  },
                  "title": "Children 子部门列表"
                }
              },
              "title": "Department 组织部门实体，树形结构，一个用户仅可在一个部门内"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/menus": {
      "get": {
        "operationId": "KnownAdmin_ListMenus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListMenusResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/oatuh2/.well-known/openid-configuration": {
      "get": {
        "operationId": "KnownAdmin_GetOAuth2Discovery",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2Discovery"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/oatuh2/jwks": {
      "get": {
        "operationId": "KnownAdmin_GetOAuth2JSONWebKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2JSONWebKeys"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/roles": {
      "get": {
        "operationId": "KnownAdmin_ListRoles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRolesResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/users": {
      "get": {
        "operationId": "KnownAdmin_ListUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListUsersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "show_deleted",
            "description": "是否包含已删除资源。\n- 默认 false，仅返回有效资源。\n- 设为 true 可返回软删除的用户。\nAIP-132: show_deleted 是可选字段。",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "view",
            "description": "视图模式，决定返回数据的详细程度。\n- BASIC: 基本信息（默认）\n- FULL: 详细信息\nAIP-157: 建议支持。",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "USER_VIEW_UNSPECIFIED",
              "USER_VIEW_BASIC",
              "USER_VIEW_FULL"
            ],
            "default": "USER_VIEW_UNSPECIFIED"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users/{id}": {
      "get": {
        "summary": "用户相关",
        "operationId": "KnownAdmin_GetUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID 用户 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "username",
            "description": "用户名，系统登录凭证，通常唯一",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users/{user.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user.id",
            "description": "ID 用户 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user",
            "description": "User 用户实体，表示系统中的账号信息",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "title": "用户名，系统登录凭证，通常唯一"
                },
                "status": {
                  "$ref": "#/definitions/v1UserStatus",
                  "title": "用户状态，表示当前账号的生命周期阶段"
                },
                "realname": {
                  "type": "string",
                  "title": "真实姓名，用于实名认证或后台展示"
                },
                "idcard": {
                  "type": "string",
                  "title": "身份证号，用于身份验证（可选）"
                },
                "nickname": {
                  "type": "string",
                  "title": "昵称，用于社交或前端展示"
                },
                "profile": {
                  "type": "string",
                  "title": "个人简介或签名"
                },
                "picture": {
                  "type": "string",
                  "title": "用户头像 URL"
                },
                "website": {
                  "type": "string",
                  "title": "个人网站地址"
                },
                "email": {
                  "type": "string",
                  "title": "邮箱地址"
                },
                "email_verified": {
                  "type": "boolean",
                  "title": "邮箱是否已验证"
                },
                "gender": {
                  "$ref": "#/definitions/UserGender",
                  "title": "性别"
                },
                "birthday": {
                  "type": "string",
                  "format": "date-time",
                  "title": "出生日期"
                },
                "zoneinfo": {
                  "type": "string",
                  "title": "时区信息（IANA 时区标识，例如 \"Asia/Shanghai\"）"
                },
                "locale": {
                  "type": "string",
                  "title": "用户偏好的语言与地区（例如 \"zh-CN\"、\"en-US\"）"
                },
                "phone_number": {
                  "$ref": "#/definitions/v1PhoneNumber",
                  "title": "手机号码"
                },
                "phone_number_verified": {
                  "type": "boolean",
                  "title": "手机号码是否已验证"
                },
                "address": {
                  "$ref": "#/definitions/v1Address",
                  "title": "地址信息"
                },
                "department": {
                  "$ref": "#/definitions/v1Department",
                  "title": "所属部门"
                },
                "identities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/UserIdentity"
                  },
                  "title": "认证信息"
                }
              },
              "title": "User 用户实体，表示系统中的账号信息"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "ListUsersRequestUserView": {
      "type": "string",
      "enum": [
        "USER_VIEW_UNSPECIFIED",
        "USER_VIEW_BASIC",
        "USER_VIEW_FULL"
      ],
      "default": "USER_VIEW_UNSPECIFIED",
      "title": "控制资源返回的详细程度。"
    },
    "OAuth2JSONWebKeysKey": {
      "type": "object",
      "properties": {
        "kty": {
          "type": "string"
        },
        "use": {
          "type": "string"
        },
        "alg": {
          "type": "string"
        },
        "e": {
          "type": "string"
        },
        "n": {
          "type": "string"
        },
        "kid": {
          "type": "string"
        }
      }
    },
    "UserGender": {
      "type": "string",
      "enum": [
        "GENDER_UNSPECIFIED",
        "GENDER_MALE",
        "GENDER_FEMALE"
      ],
      "default": "GENDER_UNSPECIFIED",
      "title": "Gender 用户性别"
    },
    "UserIdentity": {
      "type": "object",
      "properties": {
        "provider_name": {
          "type": "string"
        },
        "provider_user_id": {
          "type": "string"
        },
        "password_hash": {
          "type": "string"
        }
      }
    },
    "v1Address": {
      "type": "object",
      "properties": {
        "country": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "locality": {
          "type": "string"
        },
        "street_address": {
          "type": "string"
        }
      },
      "title": "Address 用户地址\nhttps://openid.net/specs/openid-connect-core-1_0.html#AddressClaim"
    },
    "v1AuthProvider": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 全局唯一标识"
        },
        "name": {
          "type": "string",
          "title": "Name 身份提供商名称，全局唯一"
        },
        "type": {
          "$ref": "#/definitions/v1AuthProviderType",
          "title": "Type 身份提供商类型"
        },
        "client_id": {
          "type": "string",
          "title": "ClientID 身份提供商客户端 ID"
        },
        "client_secret": {
          "type": "string",
          "title": "ClientSecret 身份提供商客户端密钥"
        },
        "enabled": {
          "type": "boolean",
          "title": "Enabled 身份提供商是否启用"
        },
        "redirect_uri": {
          "type": "string",
          "title": "RedirectURI 身份提供商回调地址"
        },
        "scopes": {
          "type": "string",
          "title": "Scopes 身份提供商授权范围"
        },
        "issuer": {
          "type": "string",
          "title": "Issuer 身份提供商标识"
        },
        "authorization_endpoint": {
          "type": "string",
          "title": "身份提供商授权端点"
        },
        "token_endpoint": {
          "type": "string",
          "title": "身份提供商令牌端点"
        },
        "userinfo_endpoint": {
          "type": "string",
          "title": "身份提供商用户信息端点"
        }
      },
      "title": "AuthProvider 身份提供商实体，验证用户登录时使用的第三方服务"
    },
    "v1AuthProviderType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_LOCAL",
        "TYPE_LDAP",
        "TYPE_OIDC",
        "TYPE_OAUTH2",
        "TYPE_GITHUB",
        "TYPE_GOOGLE",
        "TYPE_WECHAT"
      ],
      "default": "TYPE_UNSPECIFIED",
      "title": "Type 身份提供商类型"
    },
    "v1CreateAuthLoginRequest": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "title": "Username 系统识别的用户名全局唯一"
        },
        "email": {
          "type": "string",
          "title": "Email 用户邮箱地址"
        },
        "phone_number": {
          "type": "string",
          "title": "PhoneNumber 用户手机号"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32",
          "title": "ExpiresIn 控制生成 access_token 的有效时长，默认 24 * 60 * 60 秒"
        },
        "password_hash": {
          "type": "string",
          "title": "PasswordHash 用户密码在本地使用 sha256 哈希结果"
        }
      },
      "title": "CreateAuthLoginRequest 用于登录请求，所有用户均可"
    },
    "v1CreateAuthLoginResponse": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "token_type": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "CreateAuthLoginResponse 登录成功响应\n参考 rfc 规范：https://www.rfc-editor.org/rfc/rfc6749#section-5"
    },
    "v1CreateAuthTokenRequest": {
      "type": "object",
      "properties": {
        "appid": {
          "type": "string",
          "title": "Appid 关联应用标识"
        },
        "username": {
          "type": "string",
          "title": "Username 系统识别的用户名全局唯一"
        },
        "email": {
          "type": "string",
          "title": "Email 用户邮箱地址"
        },
        "phone_number": {
          "type": "string",
          "title": "PhoneNumber 用户手机号"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32",
          "title": "ExpiresIn 控制生成 access_token 的有效时长，默认 24 * 60 * 60 秒"
        },
        "password_hash": {
          "type": "string",
          "title": "PasswordHash 用户密码在本地使用 sha256 哈希结果"
        }
      },
      "title": "CreateAuthTokenRequest 用于创建 token，仅管理员或特定用户可建"
    },
    "v1CreateAuthTokenResponse": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "token_type": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "CreateAuthTokenResponse 登录成功响应\n参考 rfc 规范：https://www.rfc-editor.org/rfc/rfc6749#section-5"
    },
    "v1CreateDatabaseInitializeRequest": {
      "type": "object"
    },
    "v1Credential": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name 凭据名称"
        },
        "type": {
          "$ref": "#/definitions/v1CredentialType",
          "title": "凭据类型"
        },
        "appid": {
          "type": "string",
          "title": "Appid 凭据关联的应用 ID"
        },
        "appkey": {
          "type": "string",
          "title": "Appkey 凭据关联的密钥"
        },
        "public_key": {
          "type": "string",
          "title": "公钥"
        },
        "private_key": {
          "type": "string",
          "title": "私钥"
        },
        "usage": {
          "type": "string"
        },
        "expires_at": {
          "type": "string",
          "format": "date-time",
          "title": "过期时间"
        }
      },
      "title": "Credential 存储凭证信息"
    },
    "v1CredentialType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_API_KEY",
        "TYPE_JWT",
        "TYPE_JWKS",
        "TYPE_RSA",
        "TYPE_ECDSA",
        "TYPE_ED25519",
        "TYPE_SSH_KEY",
        "TYPE_X509",
        "TYPE_LICENSE"
      ],
      "default": "TYPE_UNSPECIFIED",
      "title": "- TYPE_API_KEY: 普通 API key\n - TYPE_JWT: JSON Web Token\n - TYPE_JWKS: JSON Web Key Set\n - TYPE_RSA: RSA 密钥对\n - TYPE_ECDSA: ECDSA 密钥对\n - TYPE_ED25519: Ed25519 密钥对\n - TYPE_SSH_KEY: SSH 公私钥\n - TYPE_X509: 证书\n - TYPE_LICENSE: 软件 License"
    },
    "v1Department": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 实体 ID"
        },
        "parent_id": {
          "type": "integer",
          "format": "int32",
          "title": "ParentID 父 ID，为 0 表示顶级菜单"
        },
        "name": {
          "type": "string",
          "title": "Name 部门名称"
        },
        "i18n_name": {
          "$ref": "#/definitions/v1I18NName",
          "title": "I18nName 国际化名称"
        },
        "order_weight": {
          "type": "integer",
          "format": "int32",
          "title": "OrderWeight 菜单排序权重，数字越小越靠前"
        },
        "leaders": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Leader"
          },
          "title": "Leaders 部门领导列表"
        },
        "children": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Department"
          },
          "title": "Children 子部门列表"
        }
      },
      "title": "Department 组织部门实体，树形结构，一个用户仅可在一个部门内"
    },
    "v1GetAuthCallbackResponse": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "token_type": {
          "type": "string"
        }
      }
    },
    "v1GetConfigResponse": {
      "type": "object"
    },
    "v1I18NName": {
      "type": "object",
      "properties": {
        "zh_cn": {
          "type": "string"
        },
        "en_us": {
          "type": "string"
        },
        "ja_jp": {
          "type": "string"
        }
      },
      "title": "I18NName 国际化名称"
    },
    "v1Leader": {
      "type": "object",
      "properties": {
        "type": {
          "type": "integer",
          "format": "int32"
        },
        "user_id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "v1ListAuthProvidersResponse": {
      "type": "object",
      "properties": {
        "providers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthProvider"
          }
        }
      }
    },
    "v1ListDepartmentsResponse": {
      "type": "object",
      "properties": {
        "departments": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Department"
          }
        }
      }
    },
    "v1ListMenusResponse": {
      "type": "object",
      "properties": {
        "menus": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Resource"
          }
        }
      }
    },
    "v1ListRolesResponse": {
      "type": "object",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Role"
          }
        }
      }
    },
    "v1ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1User"
          },
          "title": "符合查询条件的用户资源。"
        },
        "next_page_token": {
          "type": "string",
          "title": "用于获取下一页结果的 token。\n- 如果为空，表示没有更多结果。\n- 客户端不需要理解其内容，只需原样传回。\nAIP-132: 必须字段。"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "title": "符合条件的资源总数。\n- 常用于前端分页控件。\n- 注意：可能会因性能原因而近似。\nAIP-132: total_size 是可选字段。"
        }
      }
    },
    "v1OAuth2Discovery": {
      "type": "object",
      "properties": {
        "issuer": {
          "type": "string"
        },
        "authorization_endpoint": {
          "type": "string"
        },
        "token_endpoint": {
          "type": "string"
        },
        "jwks_uri": {
          "type": "string",
          "title": "string userinfo_endpoint = 4;"
        },
        "response_types_supported": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "string registration_endpoint = 6;\nstring scopes_supported = 7;"
        },
        "subject_types_supported": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "string response_modes_supported = 9;\nstring grant_types_supported = 10;\nstring acr_values_supported = 11;"
        },
        "id_token_signing_alg_values_supported": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "string id_token_encryption_alg_values_supported = 14;\n string id_token_encryption_enc_values_supported = 15;\n string userinfo_signing_alg_values_supported = 16;\n string userinfo_encryption_alg_values_supported = 17;\n string userinfo_encryption_enc_values_supported = 18;\n string request_object_signing_alg_values_supported = 19;\n string request_object_encryption_alg_values_supported = 20;\n string request_object_encryption_enc_values_supported = 21;\n string token_endpoint_auth_methods_supported = 22;\n string token_endpoint_auth_signing_alg_values_supported = 23;\n string display_values_supported = 24;\n string claim_types_supported = 25;\n string claims_supported = 26;\n string service_documentation = 27;\n string claims_locales_supported = 28;\n string ui_locales_supported = 29;\n string claims_parameter_supported = 30;\n string request_parameter_supported = 31;\n string request_uri_parameter_supported = 32;\n string require_request_uri_registration = 33;\n string op_policy_uri = 34;\n string op_tos_uri = 35;"
        }
      },
      "title": "OAuth2Discovery 提供内置 oidc 服务\nhttps://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata"
    },
    "v1OAuth2JSONWebKeys": {
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/OAuth2JSONWebKeysKey"
          }
        }
      }
    },
    "v1PhoneNumber": {
      "type": "object",
      "properties": {
        "country_code": {
          "type": "string",
          "title": "国家码，字符串更通用，例如 \"86\", \"1\""
        },
        "national_number": {
          "type": "string",
          "title": "本地号码，字符串存储，避免丢失前导零"
        }
      },
      "title": "PhoneNumber 手机号，以 E.164 格式存储（E.164 = '+' + 国家码 + 本地号码）总长度 ≤ 15 位，如：+8613812345678"
    },
    "v1Resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 菜单 ID"
        },
        "parent_id": {
          "type": "integer",
          "format": "int32",
          "title": "ParentID 父菜单 ID，为 0 表示顶级菜单"
        },
        "name": {
          "type": "string",
          "title": "Name 菜单名称"
        },
        "path": {
          "type": "string",
          "title": "Path 菜单路径"
        },
        "i18n_name": {
          "type": "string",
          "title": "I18NName 国际化名称"
        },
        "icon": {
          "type": "string",
          "title": "Icon 菜单图标，通常用于前端展示"
        },
        "order_weight": {
          "type": "integer",
          "format": "int32",
          "title": "OrderWeight 菜单排序权重，数字越小越靠前"
        },
        "type": {
          "$ref": "#/definitions/v1ResourceType",
          "title": "Type 菜单用途，如后台管理员、前台用户、APP 应用"
        },
        "enabled": {
          "type": "boolean",
          "title": "Enabled 菜单是否启用"
        },
        "hide_in_menu": {
          "type": "boolean",
          "title": "HideInMenu 是否在菜单列表中隐藏"
        },
        "hide_children_in_menu": {
          "type": "boolean",
          "title": "HideChildrenInMenu 是否在菜单列表中隐藏子菜单"
        },
        "children": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Resource"
          },
          "title": "Children 子菜单列表"
        }
      },
      "title": "Resource 资源定义，如：菜单等"
    },
    "v1ResourceType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_MENU_ADMIN",
        "TYPE_MENU_USER"
      ],
      "default": "TYPE_UNSPECIFIED",
      "description": "- TYPE_UNSPECIFIED: 未指定类型，保留为默认值\n - TYPE_MENU_ADMIN: 后台菜单\n - TYPE_MENU_USER: 用户菜单",
      "title": "Type 菜单类型"
    },
    "v1Role": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 角色 ID，全局唯一标识"
        },
        "name": {
          "type": "string",
          "title": "Name 角色名称"
        },
        "i18n_name": {
          "$ref": "#/definitions/v1I18NName",
          "title": "I18NName 角色国际化名称"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "Role 角色实体，表示用户在系统上的权限和功能"
    },
    "v1UpsertAuthProvidersResponse": {
      "type": "object",
      "properties": {
        "providers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthProvider"
          }
        }
      }
    },
    "v1User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 用户 ID，全局唯一标识"
        },
        "username": {
          "type": "string",
          "title": "用户名，系统登录凭证，通常唯一"
        },
        "status": {
          "$ref": "#/definitions/v1UserStatus",
          "title": "用户状态，表示当前账号的生命周期阶段"
        },
        "realname": {
          "type": "string",
          "title": "真实姓名，用于实名认证或后台展示"
        },
        "idcard": {
          "type": "string",
          "title": "身份证号，用于身份验证（可选）"
        },
        "nickname": {
          "type": "string",
          "title": "昵称，用于社交或前端展示"
        },
        "profile": {
          "type": "string",
          "title": "个人简介或签名"
        },
        "picture": {
          "type": "string",
          "title": "用户头像 URL"
        },
        "website": {
          "type": "string",
          "title": "个人网站地址"
        },
        "email": {
          "type": "string",
          "title": "邮箱地址"
        },
        "email_verified": {
          "type": "boolean",
          "title": "邮箱是否已验证"
        },
        "gender": {
          "$ref": "#/definitions/UserGender",
          "title": "性别"
        },
        "birthday": {
          "type": "string",
          "format": "date-time",
          "title": "出生日期"
        },
        "zoneinfo": {
          "type": "string",
          "title": "时区信息（IANA 时区标识，例如 \"Asia/Shanghai\"）"
        },
        "locale": {
          "type": "string",
          "title": "用户偏好的语言与地区（例如 \"zh-CN\"、\"en-US\"）"
        },
        "phone_number": {
          "$ref": "#/definitions/v1PhoneNumber",
          "title": "手机号码"
        },
        "phone_number_verified": {
          "type": "boolean",
          "title": "手机号码是否已验证"
        },
        "address": {
          "$ref": "#/definitions/v1Address",
          "title": "地址信息"
        },
        "department": {
          "$ref": "#/definitions/v1Department",
          "title": "所属部门"
        },
        "identities": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/UserIdentity"
          },
          "title": "认证信息"
        }
      },
      "title": "User 用户实体，表示系统中的账号信息"
    },
    "v1UserStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_PENDING",
        "STATUS_ACTIVE",
        "STATUS_LOCKED",
        "STATUS_DISABLED",
        "STATUS_DELETED"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": "- STATUS_UNSPECIFIED: 默认值／未知状态\n - STATUS_PENDING: 待激活／待验证\n - STATUS_ACTIVE: 正常启用状态\n - STATUS_LOCKED: 被锁定（如连续密码错误、账号风控等）\n - STATUS_DISABLED: 禁用（人工停用）\n - STATUS_DELETED: 软删除",
      "title": "用户状态（枚举值预计不会太频繁变化）\n可以根据业务再增加状态"
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "Authorization: Bearer \u003ctoken\u003e",
      "in": "header"
    },
    "BasicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "BasicAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "Code generated by \"grpc-kit-cli/0.3.8-beta.1\"",
    "url": "https://grpc-kit.com"
  }
}
