{
  "swagger": "2.0",
  "info": {
    "title": "known-admin-v1",
    "version": "0.1.19",
    "contact": {
      "name": "admin.v1.known",
      "url": "http://admin.v1.known.api.grpc-kit.com"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "https://github.com/grpc-kit/cli/blob/main/LICENSE"
    }
  },
  "host": "admin.v1.known.api.grpc-kit.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/builtin/admin/api/v1/auth/local/login": {
      "post": {
        "operationId": "KnownAdmin_CreateAuthLogin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateAuthLoginResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthLoginRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/providers": {
      "get": {
        "operationId": "KnownAdmin_GetAuthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAuthProvidersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "KnownAdmin_UpsertAuthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpsertAuthProvidersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UpsertAuthProvidersRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "AuthProviderProvider": {
      "type": "string",
      "enum": [
        "LDAP",
        "OIDC",
        "OAUTH2",
        "GITHUB",
        "WECHAT",
        "GOOGLE"
      ],
      "default": "LDAP"
    },
    "v1AuthProvider": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/AuthProviderProvider"
        },
        "client_id": {
          "type": "string"
        },
        "client_secret": {
          "type": "string"
        },
        "auth_url": {
          "type": "string"
        },
        "token_url": {
          "type": "string"
        },
        "user_info_url": {
          "type": "string"
        },
        "scopes": {
          "type": "string"
        },
        "redirect_url": {
          "type": "string"
        }
      }
    },
    "v1CreateAuthLoginRequest": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "title": "Username 系统识别的用户名全局唯一"
        },
        "email": {
          "type": "string",
          "title": "Email 用户邮箱地址"
        },
        "phone_number": {
          "type": "string",
          "title": "PhoneNumber 用户手机号"
        },
        "password_hash": {
          "type": "string",
          "title": "PasswordHash 用户密码在本地使用 sha256 哈希结果"
        }
      },
      "title": "CreateAuthLoginRequest 用于登录请求"
    },
    "v1CreateAuthLoginResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "v1GetAuthProvidersResponse": {
      "type": "object",
      "properties": {
        "auth_providers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthProvider"
          }
        }
      }
    },
    "v1GetConfigResponse": {
      "type": "object"
    },
    "v1UpsertAuthProvidersRequest": {
      "type": "object",
      "properties": {
        "auth_providers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthProvider"
          }
        }
      }
    },
    "v1UpsertAuthProvidersResponse": {
      "type": "object",
      "properties": {
        "auth_providers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthProvider"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "Authorization: Bearer \u003ctoken\u003e",
      "in": "header"
    },
    "BasicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "BasicAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "Code generated by \"grpc-kit-cli/0.3.8-beta.1\"",
    "url": "https://grpc-kit.com"
  }
}
