{
  "swagger": "2.0",
  "info": {
    "title": "known-admin-v1",
    "version": "0.1.19",
    "contact": {
      "name": "admin.v1.known",
      "url": "http://admin.v1.known.api.grpc-kit.com"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "https://github.com/grpc-kit/cli/blob/main/LICENSE"
    }
  },
  "host": "admin.v1.known.api.grpc-kit.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/builtin/admin/api/v1/auth/callback/{provider_name}": {
      "get": {
        "summary": "第三方认证回调",
        "description": "接口格式：/builtin/admin/api/v1/auth/callback/{provider_name}。用于 OIDC/OAUTH2 等外部认证回调换取 token。",
        "operationId": "KnownAdmin_GetAuthCallback",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAuthCallbackResponse"
            },
            "examples": {
              "application/json": {
                "access_token": "\u003cjwt\u003e",
                "token_type": "Bearer"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/login": {
      "post": {
        "summary": "登录认证",
        "description": "接口格式：/builtin/admin/api/v1/auth/login。LOCAL: password_hash=sha256(password)；LDAP: password_hash=base64(password)（兼容约定）。",
        "operationId": "KnownAdmin_CreateAuthLogin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            },
            "examples": {
              "application/json": {
                "access_token": "\u003cjwt\u003e",
                "token_type": "Bearer",
                "expires_in": 86400
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthLoginRequest"
            }
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/providers": {
      "get": {
        "summary": "认证提供商列表",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers。返回可用的认证方式（LOCAL/LDAP/OIDC/OAUTH2/GITHUB/GOOGLE/WECHAT）。",
        "operationId": "KnownAdmin_ListAuthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListAuthProvidersResponse"
            },
            "examples": {
              "application/json": {
                "providers": [
                  {
                    "id": 1,
                    "code": "local",
                    "type": "LOCAL",
                    "status": "ACTIVE",
                    "display_name": "本地登录"
                  }
                ],
                "next_page_token": "",
                "total_size": 1
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "description": "每页返回的最大提供商数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": "View 控制返回字段的详细程度\n\n - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `type=OIDC AND status=ACTIVE`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"sort_order asc, created_at desc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "provider_status",
            "description": "ProviderStatus 提供商状态快捷过滤参数。\n示例: 1(ACTIVE)，仅返回可用于登录的认证提供方。\n复杂组合过滤请继续使用 filter。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      },
      "post": {
        "summary": "创建认证提供商",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers。用于创建 LDAP/OIDC/OAUTH2 等认证提供商配置。",
        "operationId": "KnownAdmin_CreateAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            },
            "examples": {
              "application/json": {
                "id": 2,
                "code": "corp_ldap",
                "type": "LDAP",
                "status": "ACTIVE",
                "display_name": "企业LDAP"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/providers/{id}": {
      "get": {
        "summary": "获取认证提供商详情",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers/{id}。",
        "operationId": "KnownAdmin_GetAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            },
            "examples": {
              "application/json": {
                "id": 2,
                "code": "corp_ldap",
                "type": "LDAP",
                "status": "ACTIVE",
                "display_name": "企业LDAP"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      },
      "delete": {
        "summary": "删除认证提供商",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers/{id}。删除指定认证提供商。",
        "operationId": "KnownAdmin_DeleteAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "examples": {
              "application/json": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      },
      "patch": {
        "summary": "更新认证提供商",
        "description": "接口格式：/builtin/admin/api/v1/auth/providers/{id}。按请求字段更新 provider 配置。",
        "operationId": "KnownAdmin_UpdateAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            },
            "examples": {
              "application/json": {
                "id": 2,
                "code": "corp_ldap",
                "type": "LDAP",
                "status": "ACTIVE",
                "display_name": "企业LDAP（更新）"
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "provider",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/auth/token": {
      "post": {
        "summary": "创建访问令牌",
        "description": "接口格式：/builtin/admin/api/v1/auth/token。用于受控场景下签发 access_token。",
        "operationId": "KnownAdmin_CreateAuthToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            },
            "examples": {
              "application/json": {
                "access_token": "\u003cjwt\u003e",
                "token_type": "Bearer",
                "expires_in": 86400
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthTokenRequest"
            }
          }
        ],
        "tags": [
          "认证鉴权"
        ]
      }
    },
    "/builtin/admin/api/v1/config": {
      "get": {
        "summary": "本地配置",
        "operationId": "KnownAdmin_GetConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1LocalConfig"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/config/security": {
      "get": {
        "operationId": "KnownAdmin_GetConfigSecurity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1SecurityConfig"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/credentials": {
      "post": {
        "summary": "安全相关",
        "operationId": "KnownAdmin_CreateCredential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Credential"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "credential",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Credential"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/database/initialize": {
      "post": {
        "summary": "数据库相关",
        "operationId": "KnownAdmin_CreateDatabaseInitialize",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateDatabaseInitializeRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments": {
      "get": {
        "operationId": "KnownAdmin_ListDepartments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListDepartmentsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"departments/123\" 表示仅返回 parent_id=123 的直接子部门；空表示不按父级过滤。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大部门数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "department_type",
            "description": "TODO；以下将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "department_status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ]
      },
      "post": {
        "summary": "部门管理",
        "operationId": "KnownAdmin_CreateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department.id",
            "description": "ID 部门唯一标识符，系统自动生成\n用于数据库主键和跨系统引用，建议使用自增整型",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "department",
            "description": "Department 组织部门实体，支持树形层级结构的企业组织架构管理\n设计原则：一个用户仅可归属于一个主部门，但可通过角色关系参与多个部门的管理\n支持国际化、状态管理、财务集成等企业级功能",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "string",
                  "format": "int64",
                  "title": "ParentID 父部门ID，构建树形组织结构\n值为 0 表示顶级部门（如：总公司、集团总部）\n支持多级嵌套，建议层级深度不超过 6 级以保证查询性能"
                },
                "code": {
                  "type": "string",
                  "title": "Code 系统标识符，创建后不可修改\n规则：以小写字母开头，仅包含小写字母、数字和连字符，不允许连续连字符，以字母或数字结尾\n长度：2-32 字符；如客户端未提供，服务端自动生成 12 位随机编码\n示例：手动 \"tech-dept\"、\"hr\"；自动 \"a7k2m3x9b5f1\""
                },
                "display_name": {
                  "type": "string",
                  "title": "DisplayName 前端展示名称，根据用户的语言环境，自动转换为相应区域的语言说明\n用于部门名称的多语言显示，提升用户体验和国际化支持"
                },
                "type": {
                  "$ref": "#/definitions/v1DepartmentType"
                },
                "status": {
                  "$ref": "#/definitions/v1DepartmentStatus"
                },
                "sort_order": {
                  "type": "integer",
                  "format": "int32",
                  "title": "SortOrder 部门排序顺序，用于同级部门的显示顺序\n数值越小排序越靠前，建议使用 10 的倍数便于后续插入\n默认值：100，范围：1-9999"
                },
                "members": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Membership"
                  },
                  "title": "Members 部门成员列表"
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Department"
                  },
                  "title": "Children 直接子部门列表，用于构建完整的组织树\n仅包含直接下级，避免深度递归查询\n建议在需要完整树结构时通过专门的服务接口获取"
                },
                "email": {
                  "type": "string",
                  "title": "Email 部门公共邮箱地址，用于对外联系和内部通知\n格式：标准邮箱格式，如 \"tech@company.com\"\n用途：部门公告、外部合作、客户联系等"
                },
                "phone_number": {
                  "$ref": "#/definitions/v1PhoneNumber",
                  "title": "PhoneNumber 部门联系电话，支持国际化电话号码格式\n包含国家代码、区号、号码等完整信息\n用于紧急联系、业务咨询等场景"
                },
                "address": {
                  "$ref": "#/definitions/v1Address",
                  "title": "Address 部门办公地址，支持结构化地址信息\n包含国家、省市、详细地址等信息\n用于邮寄、拜访、资产管理等业务场景"
                },
                "cost_center_code": {
                  "type": "string",
                  "title": "CostCenterCode 成本中心编码，用于财务核算和成本控制\n格式：企业自定义编码规则，如 \"CC-TECH-001\"\n用途：预算分配、成本归集、财务报表等\n与 ERP 系统集成时的重要标识字段"
                },
                "budget_item_code": {
                  "type": "string",
                  "title": "BudgetCode 预算编码，用于预算管理和费用控制\n格式：与财务系统对应的预算科目编码\n用途：年度预算、费用审批、财务分析等\n支持多维度预算管理（如：人员预算、设备预算等）"
                },
                "max_members": {
                  "type": "integer",
                  "format": "int32",
                  "title": "MaxMembers 部门最大成员数限制，用于人员规模控制\n值为 0 表示无限制，正整数表示具体限制\n用途：组织规模控制、人力成本管理、办公空间规划"
                },
                "external_id": {
                  "type": "string",
                  "title": "ExternalID 外部系统标识符，用于第三方系统集成\n如：ERP 系统部门编码、OA 系统部门 ID 等\n支持数据同步和跨系统业务流程"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata 扩展元数据，存储自定义业务属性\n键值对格式，支持灵活的业务扩展需求\n示例：{\"location\": \"北京\", \"floor\": \"15F\", \"capacity\": \"50\"}"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "CreatedAt 创建时间戳，记录部门建立时间\n使用 UTC 时间，精确到毫秒级别"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "UpdatedAt 最后更新时间戳，记录最近修改时间\n用于数据同步和缓存失效判断"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "DeletedAt 软删除时间戳，支持数据恢复\n非空表示已删除，空值表示正常状态\n实现软删除机制，保护重要组织数据"
                },
                "description": {
                  "type": "string",
                  "title": "Description 部门描述信息，详细说明部门职责和业务范围\n用于组织介绍、职责说明、业务范围描述等\n建议长度：500 字符以内，支持富文本格式"
                },
                "visibility": {
                  "$ref": "#/definitions/v1Visibility",
                  "title": "Visibility 部门及成员列表的可见性策略（使用公共枚举 Visibility）"
                }
              },
              "title": "Department 组织部门实体，支持树形层级结构的企业组织架构管理\n设计原则：一个用户仅可归属于一个主部门，但可通过角色关系参与多个部门的管理\n支持国际化、状态管理、财务集成等企业级功能"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department_id}/members": {
      "post": {
        "operationId": "KnownAdmin_CreateDepartmentMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateDepartmentMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "members",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1Membership"
              }
            }
          }
        ]
      },
      "patch": {
        "operationId": "KnownAdmin_UpdateDepartmentMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateDepartmentMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "members",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1Membership"
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department_id}/members/{user_id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteDepartmentMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{parent}/members": {
      "get": {
        "operationId": "KnownAdmin_ListDepartmentMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListDepartmentMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups": {
      "get": {
        "operationId": "KnownAdmin_ListGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGroupsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"sort_order asc\", \"created_at desc\"\n默认值: \"sort_order asc\"（按 sort_order 升序排列，数值越小越靠前）\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "group_type",
            "description": "TODO；以下将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "group_status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "display_name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "summary": "rpc CreateUserIdentity(CreateUserIdentityRequest) returns(User);\n群组相关",
        "operationId": "KnownAdmin_CreateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "group",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{group.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "group.id",
            "description": "ID 群组 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "group",
            "description": "Group 群组实体，表示一类相同维度的用户集合，扁平结构不支持树形\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "title": "Code 系统标识符，创建后不可修改\n规则：以小写字母开头，仅包含小写字母、数字和连字符，不允许连续连字符，以字母或数字结尾\n长度：2-32 字符；如客户端未提供，服务端自动生成 12 位随机编码\n示例：手动 \"dev-team\"、\"project-alpha\"；自动 \"a7k2m3x9b5f1\""
                },
                "type": {
                  "$ref": "#/definitions/v1GroupType"
                },
                "status": {
                  "$ref": "#/definitions/v1GroupStatus"
                },
                "display_name": {
                  "type": "string",
                  "title": "DisplayName 前端展示名称，根据用户的语言环境，自动转换为相应区域的语言说明\n用于群组名称的多语言显示，提升群组管理的用户体验和可读性"
                },
                "sort_order": {
                  "type": "integer",
                  "format": "int32",
                  "title": "SortOrder 群组排序顺序，用于群组在列表中的显示顺序（扁平结构）\n数值越小排序越靠前，建议使用 10 的倍数便于后续插入\n默认值：100，范围：1-9999"
                },
                "max_members": {
                  "type": "integer",
                  "format": "int32",
                  "title": "MaxMembers 群组最大成员数量限制，0表示不限制"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata 元数据，用于存储自定义属性，支持业务扩展"
                },
                "description": {
                  "type": "string",
                  "title": "Description 群组描述，详细说明群组的目的和用途"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 群组创建者/所有者ID，记录创建该群组的用户"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 群组最后更新者，记录最后修改该群组的用户"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "CreatedAt 创建时间，记录群组的创建时间戳"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "UpdatedAt 更新时间，记录群组的最后修改时间戳"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "DeletedAt 软删除时间戳，非空表示已删除，空值表示正常状态"
                },
                "visibility": {
                  "$ref": "#/definitions/v1Visibility",
                  "title": "Visibility 群组可见性，控制群组是否对外可见"
                },
                "ref_id": {
                  "type": "string",
                  "format": "int64",
                  "title": "RefID 类型关联引用ID，根据 type 赋予不同语义：\n  DEPARTMENT → 关联部门ID (departments.id)\n  ROLE       → 关联角色ID (roles.id)\n  其他类型   → 0"
                },
                "ref_expr": {
                  "type": "string",
                  "title": "RefExpr 类型关联表达式，根据 type 赋予不同语义：\n  DYNAMIC  → 成员过滤规则，如 \"user_type = 10 AND user_status = 3\"\n  SYSTEM   → 同 DYNAMIC，成员过滤规则（系统内置，创建后不可修改）\n  EXTERNAL → 外部源描述(JSON)，如 {\"external_id\":\"ldap-001\",\"external_source\":\"ldap\"}\n  其他类型 → 空字符串"
                }
              },
              "title": "Group 群组实体，表示一类相同维度的用户集合，扁平结构不支持树形\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{id}": {
      "get": {
        "operationId": "KnownAdmin_GetGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          }
        ]
      },
      "delete": {
        "operationId": "KnownAdmin_DeleteGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{parent}/members": {
      "get": {
        "operationId": "KnownAdmin_ListGroupMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGroupMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateGroupMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateGroupMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "members",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1Membership"
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{parent}/members/{user_id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteGroupMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      },
      "patch": {
        "operationId": "KnownAdmin_UpdateGroupMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Membership"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "member",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Membership"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/oatuh2/.well-known/openid-configuration": {
      "get": {
        "operationId": "KnownAdmin_GetOAuth2Discovery",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2Discovery"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/oatuh2/jwks": {
      "get": {
        "operationId": "KnownAdmin_GetOAuth2JSONWebKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2JSONWebKeys"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/oatuh2/userinfo": {
      "get": {
        "operationId": "KnownAdmin_GetOAuth2Userinfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2Userinfo"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/permissions": {
      "get": {
        "summary": "权限管理",
        "operationId": "KnownAdmin_ListPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPermissionsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大权限数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `code=\"permission_001\" AND policy_id=1`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, code asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "policy_id",
            "description": "TODO；以下将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreatePermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Permission"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "permission",
            "description": "{\n\"code\": \"manage-users\",\n\"display_name\": \"管理用户列表\",\n\"policy\": {\n\"id\": \"10\"\n},\n\"bindings\": [\n{\n\"resource_scope_id\": 1,\n\"is_recursive\": true\n}\n],\n\"description\": \"允许查看和管理用户列表\"\n}\n\n注意：code 为可选字段，如客户端未提供，服务端将自动生成 12 位随机编码。\n如提供，需符合 code 规范：以小写字母开头，仅 [a-z0-9-]，长度 2-32，不允许连续 \"--\"。",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Permission"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/permissions/{id}": {
      "get": {
        "operationId": "KnownAdmin_GetPermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Permission"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      },
      "delete": {
        "operationId": "KnownAdmin_DeletePermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/permissions/{permission.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdatePermission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Permission"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "permission.id",
            "description": "ID 资源 ID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "permission",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "title": "Code 系统标识符，创建后不可修改\n规则：以小写字母开头，仅包含小写字母、数字和连字符，不允许连续连字符，以字母或数字结尾\n长度：2-32 字符；如客户端未提供，服务端自动生成 12 位随机编码"
                },
                "display_name": {
                  "type": "string"
                },
                "policy": {
                  "$ref": "#/definitions/v1Policy"
                },
                "description": {
                  "type": "string"
                },
                "bindings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/PermissionBinding"
                  },
                  "title": "权限绑定资源集合"
                }
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/policies": {
      "get": {
        "summary": "策略管理",
        "operationId": "KnownAdmin_ListPolicies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPoliciesResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大策略数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `code=\"policy_001\" AND status=\"ENABLED\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, code asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "policy_type",
            "description": "TODO；以下将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "policy_status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreatePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Policy"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "policy",
            "description": "{\n\"code\": \"admin-policy\",\n\"display_name\": \"管理员策略\",\n\"type\": \"ROLE\",\n\"status\": \"ENABLED\",\n\"value\": \"admin\",\n\"description\": \"管理员权限策略\"\n}\n\n注意：code 为可选字段，如客户端未提供，服务端将自动生成 12 位随机编码。\n如提供，需符合 code 规范：以小写字母开头，仅 [a-z0-9-]，长度 2-32，不允许连续 \"--\"。",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Policy"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/policies/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeletePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/policies/{policy.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdatePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Policy"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "policy.id",
            "description": "ID 资源 ID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "policy",
            "description": "Policy 策略定义",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "$ref": "#/definitions/v1PolicyType"
                },
                "status": {
                  "$ref": "#/definitions/v1PolicyStatus"
                },
                "code": {
                  "type": "string",
                  "title": "Code 系统标识符，创建后不可修改\n规则：以小写字母开头，仅包含小写字母、数字和连字符，不允许连续连字符，以字母或数字结尾\n长度：2-32 字符；如客户端未提供，服务端自动生成 12 位随机编码\n示例：手动 \"allow-read\"、\"deny-delete\"；自动 \"a7k2m3x9b5f1\""
                },
                "display_name": {
                  "type": "string",
                  "title": "DisplayName 前端展示名称，根据用户的语言环境，自动转换为相应区域的语言说明"
                },
                "value": {
                  "type": "string",
                  "title": "Value 策略值，根据策略类型不同，表示不同的含义"
                },
                "description": {
                  "type": "string",
                  "title": "Description 策略描述，详细说明策略职责和业务范围"
                }
              },
              "title": "Policy 策略定义"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/resources": {
      "get": {
        "summary": "资源列表",
        "description": "接口格式：/builtin/admin/api/v1/resources",
        "operationId": "KnownAdmin_ListResources",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListResourcesResponse"
            },
            "examples": {
              "application/json": {
                "resources": [
                  {
                    "id": 1,
                    "name": "resource1",
                    "display_name": "Resource 1",
                    "sort_order": 100,
                    "type": "MENU",
                    "status": "ENABLED",
                    "visibility": "VISIBLE"
                  }
                ]
              }
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "structure",
            "description": " - STRUCTURE_FLAT: 平铺列表（默认），支持分页\n - STRUCTURE_TREE: 层级结构（父子），不支持分页\n - STRUCTURE_TREE_EXPANDED: 层级结构 + 全展开，不支持分页",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STRUCTURE_UNSPECIFIED",
              "STRUCTURE_FLAT",
              "STRUCTURE_TREE",
              "STRUCTURE_TREE_EXPANDED"
            ],
            "default": "STRUCTURE_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource_type",
            "description": "TODO；以下将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resource_status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "scope_type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "scope_name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "policy_type",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "policy_status",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "资源管理"
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "resource",
            "description": "{\n\"parent_id\": \"1\",\n\"code\": \"user-management\",\n\"display_name\": \"用户管理\",\n\"sort_order\": 0,\n\"type\": \"MENU\",\n\"status\": \"ENABLED\",\n\"visibility\": \"VISIBLE\",\n\"locator\": \"/hello/world\",\n\"visual\": \"avatar\",\n\"manifest\": \"\",\n\"metadata\": {\n\"hello\": \"world\"\n},\n\"description\": \"admin\"\n}\n\n注意：code 为可选字段，如客户端未提供，服务端将自动生成 12 位随机编码。\n如提供，需符合 code 规范：以小写字母开头，仅 [a-z0-9-]，长度 2-32，不允许连续 \"--\"。",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/resources/{id}": {
      "get": {
        "summary": "资源管理",
        "operationId": "KnownAdmin_GetResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      },
      "delete": {
        "operationId": "KnownAdmin_DeleteResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/resources/{resource.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "resource.id",
            "description": "ID 资源 ID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "resource",
            "description": "Resource 资源定义，如：菜单等",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "string",
                  "format": "int64",
                  "title": "ParentID 父资源 ID，为 0 表示顶级资源"
                },
                "code": {
                  "type": "string",
                  "title": "Code 系统标识符，创建后不可修改\n规则：以小写字母开头，仅包含小写字母、数字和连字符，不允许连续连字符，以字母或数字结尾\n长度：2-32 字符；如客户端未提供，服务端自动生成 12 位随机编码\n示例：手动 \"user-management\"、\"system-config\"；自动 \"a7k2m3x9b5f1\""
                },
                "display_name": {
                  "type": "string",
                  "title": "DisplayName 前端展示名称，根据用户的语言环境，自动转换为相应区域的语言说明\n用于资源名称的多语言显示，支持菜单、按钮等界面元素的国际化"
                },
                "sort_order": {
                  "type": "integer",
                  "format": "int32",
                  "title": "SortOrder 资源排序顺序，用于同级资源的显示顺序\n数值越小排序越靠前，建议使用 10 的倍数便于后续插入\n默认值：100，范围：1-9999"
                },
                "type": {
                  "$ref": "#/definitions/v1ResourceType"
                },
                "status": {
                  "$ref": "#/definitions/v1ResourceStatus"
                },
                "visibility": {
                  "$ref": "#/definitions/v1Visibility",
                  "title": "Visibility 资源可见性/展示策略（使用公共枚举 Visibility）"
                },
                "locator": {
                  "type": "string",
                  "title": "Locator 资源路径，我怎么找到你"
                },
                "visual": {
                  "type": "string",
                  "title": "visual 资源图标，我怎么看到你"
                },
                "manifest": {
                  "type": "string",
                  "title": "Manifest 资源描述，我怎么用你"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata 扩展元数据\n用于存储上述三个核心字段无法涵盖的特定平台/业务属性"
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Resource"
                  },
                  "title": "Children 子资源列表"
                },
                "scopes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Scope"
                  }
                },
                "description": {
                  "type": "string"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "title": "Resource 资源定义，如：菜单等"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/resources/{resource_id}/scopes": {
      "post": {
        "operationId": "KnownAdmin_CreateResourceScopes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateResourceScopesResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "scopes",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1Scope"
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles": {
      "get": {
        "operationId": "KnownAdmin_ListRoles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRolesResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "summary": "角色相关",
        "operationId": "KnownAdmin_CreateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{id}": {
      "get": {
        "operationId": "KnownAdmin_GetRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      },
      "delete": {
        "operationId": "KnownAdmin_DeleteRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{parent}/users": {
      "get": {
        "operationId": "KnownAdmin_ListRoleUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRoleUsersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{parent}/users/{user_id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteRoleUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{role.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role.id",
            "description": "ID 角色 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "role",
            "description": "Role 角色实体，表示用户在系统上的权限和功能",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "string",
                  "format": "int64",
                  "title": "ParentID 父角色ID，构建树形组织结构\n值为 0 表示顶级角色（如：系统内置角色）\n支持多级嵌套，建议层级深度不超过 3 级以保证查询性能"
                },
                "code": {
                  "type": "string",
                  "title": "Code 系统标识符，创建后不可修改\n规则：以小写字母开头，仅包含小写字母、数字和连字符，不允许连续连字符，以字母或数字结尾\n长度：2-32 字符；如客户端未提供，服务端自动生成 12 位随机编码\n示例：手动 \"admin\"、\"user-manager\"；自动 \"a7k2m3x9b5f1\""
                },
                "display_name": {
                  "type": "string",
                  "title": "DisplayName 前端展示名称，根据用户的语言环境，自动转换为相应区域的语言说明\n用于角色名称的多语言显示，便于不同地区用户理解角色含义"
                },
                "sort_order": {
                  "type": "integer",
                  "format": "int32",
                  "title": "SortOrder 角色排序顺序，用于同级角色的显示顺序\n数值越小排序越靠前，建议使用 10 的倍数便于后续插入\n默认值：100，范围：1-9999"
                },
                "type": {
                  "$ref": "#/definitions/v1RoleType",
                  "title": "type 角色类型，决定角色的管理策略和可操作性"
                },
                "status": {
                  "$ref": "#/definitions/v1RoleStatus",
                  "title": "status 角色状态，控制角色是否可用和权限是否生效"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": {
                  "type": "string"
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/adminv1Role"
                  },
                  "title": "Children 直接子角色列表，用于构建完整的角色树"
                }
              },
              "title": "Role 角色实体，表示用户在系统上的权限和功能"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{role_id}/permissions": {
      "get": {
        "summary": "rpc CreateRoleDataRanges(CreateRoleDataRangesRequest) returns(CreateRoleDataRangesResponse);\nrpc DeleteRoleDataRanges(DeleteRoleDataRangesRequest) returns(google.protobuf.Empty);\nrpc ListRoleDataRanges(ListRoleDataRangesRequest) returns(ListRoleDataRangesResponse);",
        "operationId": "KnownAdmin_ListRolePermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRolePermissionsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role_id",
            "description": "角色 ID，从路径参数中获取",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大权限数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "view",
            "description": " - VIEW_BASIC: List 默认\n - VIEW_STANDARD: 常规详情\n - VIEW_FULL: 全量",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VIEW_UNSPECIFIED",
              "VIEW_BASIC",
              "VIEW_STANDARD",
              "VIEW_FULL"
            ],
            "default": "VIEW_UNSPECIFIED"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `code=\"permission_001\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, code asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateRolePermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateRolePermissionsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role_id",
            "description": "角色 ID，从路径参数中获取",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "permissions",
            "description": "权限列表",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1Permission"
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{role_id}/permissions/{permission_id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteRolePermission",
        "responses": {
          "200": {
            "description": "A successful response.",
[...]
