{
  "swagger": "2.0",
  "info": {
    "title": "known-admin-v1",
    "version": "0.1.19",
    "contact": {
      "name": "admin.v1.known",
      "url": "http://admin.v1.known.api.grpc-kit.com"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "https://github.com/grpc-kit/cli/blob/main/LICENSE"
    }
  },
  "host": "admin.v1.known.api.grpc-kit.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/builtin/admin/api/v1/auth/callback/{provider_name}": {
      "get": {
        "operationId": "KnownAdmin_GetAuthCallback",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAuthCallbackResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/login": {
      "post": {
        "summary": "认证鉴权",
        "operationId": "KnownAdmin_CreateAuthLogin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthLoginRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/providers": {
      "get": {
        "operationId": "KnownAdmin_ListAuthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListAuthProvidersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "KnownAdmin_CreateAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/token": {
      "post": {
        "operationId": "KnownAdmin_CreateAuthToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthTokenRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/credentials": {
      "post": {
        "summary": "安全相关",
        "operationId": "KnownAdmin_CreateCredential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Credential"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "credential",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Credential"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/database/initialize": {
      "post": {
        "summary": "数据库相关",
        "operationId": "KnownAdmin_CreateDatabaseInitialize",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateDatabaseInitializeRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments": {
      "get": {
        "operationId": "KnownAdmin_ListDepartments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListDepartmentsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "部门管理",
        "operationId": "KnownAdmin_CreateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department.id",
            "description": "ID 部门唯一标识符，系统自动生成\n用于数据库主键和跨系统引用，建议使用自增整型",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "department",
            "description": "Department 组织部门实体，支持树形层级结构的企业组织架构管理\n设计原则：一个用户仅可归属于一个主部门，但可通过角色关系参与多个部门的管理\n支持国际化、状态管理、财务集成等企业级功能",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "ParentID 父部门ID，构建树形组织结构\n值为 0 表示顶级部门（如：总公司、集团总部）\n支持多级嵌套，建议层级深度不超过 6 级以保证查询性能"
                },
                "name": {
                  "type": "string",
                  "title": "Name 部门名称，用于系统内部显示和业务逻辑\n要求：长度 1-100 字符，同级部门名称不可重复\n示例：\"技术研发部\"、\"市场营销部\"、\"人力资源部\""
                },
                "i18n_name": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "I18nName 国际化名称配置，支持多语言环境\n用于跨国企业的多语言界面显示\n包含语言代码和对应翻译文本的映射关系"
                },
                "type": {
                  "$ref": "#/definitions/v1DepartmentType"
                },
                "status": {
                  "$ref": "#/definitions/v1DepartmentStatus"
                },
                "order_weight": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OrderWeight 部门排序权重，用于同级部门的显示顺序\n数值越小排序越靠前，建议使用 10 的倍数便于后续插入\n默认值：100，范围：1-9999"
                },
                "managers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1DepartmentMember"
                  },
                  "title": "Managers 部门管理者列表，包含各级管理人员和负责人\n通过 DepartmentMember 关系表维护，支持精细化角色区分\n支持的管理角色：部门经理、副经理、主管、组长等\n可根据 DepartmentMember.member_role 字段区分具体的管理职责和权限级别"
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Department"
                  },
                  "title": "Children 直接子部门列表，用于构建完整的组织树\n仅包含直接下级，避免深度递归查询\n建议在需要完整树结构时通过专门的服务接口获取"
                },
                "email": {
                  "type": "string",
                  "title": "Email 部门公共邮箱地址，用于对外联系和内部通知\n格式：标准邮箱格式，如 \"tech@company.com\"\n用途：部门公告、外部合作、客户联系等"
                },
                "phone_number": {
                  "$ref": "#/definitions/v1PhoneNumber",
                  "title": "PhoneNumber 部门联系电话，支持国际化电话号码格式\n包含国家代码、区号、号码等完整信息\n用于紧急联系、业务咨询等场景"
                },
                "address": {
                  "$ref": "#/definitions/v1Address",
                  "title": "Address 部门办公地址，支持结构化地址信息\n包含国家、省市、详细地址等信息\n用于邮寄、拜访、资产管理等业务场景"
                },
                "cost_center_code": {
                  "type": "string",
                  "title": "CostCenterCode 成本中心编码，用于财务核算和成本控制\n格式：企业自定义编码规则，如 \"CC-TECH-001\"\n用途：预算分配、成本归集、财务报表等\n与 ERP 系统集成时的重要标识字段"
                },
                "budget_item_code": {
                  "type": "string",
                  "title": "BudgetCode 预算编码，用于预算管理和费用控制\n格式：与财务系统对应的预算科目编码\n用途：年度预算、费用审批、财务分析等\n支持多维度预算管理（如：人员预算、设备预算等）"
                },
                "max_members": {
                  "type": "integer",
                  "format": "int32",
                  "title": "MaxMembers 部门最大成员数限制，用于人员规模控制\n值为 0 表示无限制，正整数表示具体限制\n用途：组织规模控制、人力成本管理、办公空间规划"
                },
                "external_id": {
                  "type": "string",
                  "title": "ExternalID 外部系统标识符，用于第三方系统集成\n如：ERP 系统部门编码、OA 系统部门 ID 等\n支持数据同步和跨系统业务流程"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata 扩展元数据，存储自定义业务属性\n键值对格式，支持灵活的业务扩展需求\n示例：{\"location\": \"北京\", \"floor\": \"15F\", \"capacity\": \"50\"}"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "CreatedAt 创建时间戳，记录部门建立时间\n使用 UTC 时间，精确到毫秒级别"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "UpdatedAt 最后更新时间戳，记录最近修改时间\n用于数据同步和缓存失效判断"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "DeletedAt 软删除时间戳，支持数据恢复\n非空表示已删除，空值表示正常状态\n实现软删除机制，保护重要组织数据"
                },
                "description": {
                  "type": "string",
                  "title": "Description 部门描述信息，详细说明部门职责和业务范围\n用于组织介绍、职责说明、业务范围描述等\n建议长度：500 字符以内，支持富文本格式"
                }
              },
              "title": "Department 组织部门实体，支持树形层级结构的企业组织架构管理\n设计原则：一个用户仅可归属于一个主部门，但可通过角色关系参与多个部门的管理\n支持国际化、状态管理、财务集成等企业级功能"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department_id}/members": {
      "post": {
        "operationId": "KnownAdmin_CreateDepartmentMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateDepartmentMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "department_members",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1DepartmentMember"
              }
            }
          }
        ]
      },
      "patch": {
        "operationId": "KnownAdmin_UpdateDepartmentMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateDepartmentMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "department_members",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1DepartmentMember"
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department_id}/members/{user_id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteDepartmentMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{parent}/members": {
      "get": {
        "operationId": "KnownAdmin_ListDepartmentMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListDepartmentMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups": {
      "get": {
        "operationId": "KnownAdmin_ListGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGroupsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "rpc CreateUserIdentity(CreateUserIdentityRequest) returns(User);\n群组相关",
        "operationId": "KnownAdmin_CreateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "group",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{group.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "group.id",
            "description": "ID 群组 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "group",
            "description": "Group 群组实体，表示一类相同维度的用户集合\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "title": "Name 群组名称，系统内唯一标识符"
                },
                "type": {
                  "$ref": "#/definitions/v1GroupType"
                },
                "status": {
                  "$ref": "#/definitions/v1GroupStatus"
                },
                "i18n_name": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "I18NName 群组国际化名称，支持多语言显示"
                },
                "order_weight": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OrderWeight 菜单排序权重，数字越小越靠前，用于UI展示排序"
                },
                "parent_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "ParentID 父群组ID，用于支持群组嵌套，为0表示顶级群组，支持树形组织结构"
                },
                "max_members": {
                  "type": "integer",
                  "format": "int32",
                  "title": "MaxMembers 群组最大成员数量限制，0表示不限制"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata 元数据，用于存储自定义属性，支持业务扩展"
                },
                "department_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "DepartmentID 部门ID，用于与部门的联动"
                },
                "external_id": {
                  "type": "string",
                  "title": "ExternalID 外部系统ID，用于与外部系统集成，实现跨系统用户组同步"
                },
                "description": {
                  "type": "string",
                  "title": "Description 群组描述，详细说明群组的目的和用途"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 群组创建者/所有者ID，记录创建该群组的用户"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 群组最后更新者，记录最后修改该群组的用户"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "CreatedAt 创建时间，记录群组的创建时间戳"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "UpdatedAt 更新时间，记录群组的最后修改时间戳"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "DeleteAt 删除时间，用于软删除机制，记录群组标记为删除的时间"
                }
              },
              "title": "Group 群组实体，表示一类相同维度的用户集合\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{parent}/members": {
      "get": {
        "operationId": "KnownAdmin_ListGroupMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGroupMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateGroupMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateGroupMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_members",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1GroupMember"
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{parent}/members/{user_id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteGroupMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      },
      "patch": {
        "operationId": "KnownAdmin_UpdateGroupMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GroupMember"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "group_member",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1GroupMember"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/oatuh2/.well-known/openid-configuration": {
      "get": {
        "operationId": "KnownAdmin_GetOAuth2Discovery",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2Discovery"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/oatuh2/jwks": {
      "get": {
        "operationId": "KnownAdmin_GetOAuth2JSONWebKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2JSONWebKeys"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/resources": {
      "get": {
        "summary": "资源管理",
        "operationId": "KnownAdmin_ListResources",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListResourcesResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "description": "TODO；将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/resources/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/resources/{resource.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "resource.id",
            "description": "ID 资源 ID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resource",
            "description": "Resource 资源定义，如：菜单等",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "ParentID 父资源 ID，为 0 表示顶级资源"
                },
                "name": {
                  "type": "string",
                  "title": "Name 资源名称"
                },
                "i18n_name": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "I18nName 国际化名称配置，支持多语言环境\n用于跨国企业的多语言界面显示\n包含语言代码和对应翻译文本的映射关系"
                },
                "order_weight": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OrderWeight 资源排序权重，数字越小越靠前"
                },
                "type": {
                  "$ref": "#/definitions/v1ResourceType"
                },
                "scope": {
                  "$ref": "#/definitions/ResourceScope"
                },
                "enabled": {
                  "type": "boolean",
                  "title": "Enabled 资源是否启用"
                },
                "hidden": {
                  "type": "boolean",
                  "title": "Hidden 是否在资源列表中隐藏"
                },
                "hide_children": {
                  "type": "boolean",
                  "title": "HideChildren 是否在资源列表中隐藏子项"
                },
                "path": {
                  "type": "string",
                  "title": "Path 资源路径"
                },
                "icon": {
                  "type": "string",
                  "title": "Icon 资源图标，通常用于前端展示"
                },
                "component": {
                  "type": "string"
                },
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Resource"
                  },
                  "title": "Children 子资源列表"
                },
                "description": {
                  "type": "string"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "title": "Resource 资源定义，如：菜单等"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles": {
      "get": {
        "operationId": "KnownAdmin_ListRoles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRolesResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "角色相关",
        "operationId": "KnownAdmin_CreateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{parent}/users": {
      "get": {
        "operationId": "KnownAdmin_ListRoleUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRoleUsersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{parent}/users/{user_id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteRoleUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{role.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role.id",
            "description": "ID 角色 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "role",
            "description": "Role 角色实体，表示用户在系统上的权限和功能",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "title": "Name 角色名称"
                },
                "i18n_name": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "I18NName 角色国际化名称"
                },
                "order_weight": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OrderWeight 菜单排序权重，数字越小越靠前"
                },
                "type": {
                  "$ref": "#/definitions/v1RoleType",
                  "title": "type 角色类型，决定角色的管理策略和可操作性"
                },
                "status": {
                  "$ref": "#/definitions/v1RoleStatus",
                  "title": "status 角色状态，控制角色是否可用和权限是否生效"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": {
                  "type": "string"
                }
              },
              "title": "Role 角色实体，表示用户在系统上的权限和功能"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{role_id}:assign": {
      "post": {
        "operationId": "KnownAdmin_AssignRoleToUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "users": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1User"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users": {
      "get": {
        "operationId": "KnownAdmin_ListUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListUsersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "show_deleted",
            "description": "是否包含已删除资源。\n- 默认 false，仅返回有效资源。\n- 设为 true 可返回软删除的用户。\nAIP-132: show_deleted 是可选字段。",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "view",
            "description": "视图模式，决定返回数据的详细程度。\n- BASIC: 基本信息（默认）\n- FULL: 详细信息\nAIP-157: 建议支持。",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "USER_VIEW_UNSPECIFIED",
              "USER_VIEW_BASIC",
              "USER_VIEW_FULL"
            ],
            "default": "USER_VIEW_UNSPECIFIED"
          },
          {
            "name": "filter_id",
            "description": "TODO；将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter_username",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter_nickname",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter_status",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users/{id}": {
      "get": {
        "summary": "用户相关",
        "operationId": "KnownAdmin_GetUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID 用户 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "username",
            "description": "用户名，系统登录凭证，通常唯一",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users/{user.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user.id",
            "description": "ID 用户 ID，全局唯一标识，使用 int64 序列化为 json 为 string 类型",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user",
            "description": "User 用户实体，表示系统中的账号信息\n\n以下字段为非敏感/可直接输出（适合公开展示或普通资料页）",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "title": "用户名，系统登录凭证，必须唯一"
                },
                "nickname": {
                  "type": "string",
                  "title": "昵称，用于社交或前端展示"
                },
                "profile": {
                  "type": "string",
                  "title": "个人简介或签名"
                },
                "picture": {
                  "type": "string",
                  "title": "用户头像 URL"
                },
                "website": {
                  "type": "string",
                  "title": "个人网站地址"
                },
                "timezone": {
                  "type": "string",
                  "title": "时区信息（IANA 时区标识，例如 \"Asia/Shanghai\"）"
                },
                "locale": {
                  "type": "string",
                  "title": "用户偏好的语言与地区（例如 \"zh-CN\"、\"en-US\"）"
                },
                "type": {
                  "$ref": "#/definitions/v1UserType"
                },
                "status": {
                  "$ref": "#/definitions/v1UserStatus"
                },
                "gender": {
                  "$ref": "#/definitions/UserGender"
                },
                "email_verified": {
                  "type": "boolean",
                  "title": "邮箱是否已验证"
                },
                "phone_number_verified": {
                  "type": "boolean",
                  "title": "手机号码是否已验证"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "创建时间"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "更新时间"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "删除时间"
                },
                "realname": {
                  "type": "string",
                  "title": "真实姓名，用于实名认证或后台展示"
                },
                "national_id": {
                  "type": "string",
                  "title": "身份证号，用于身份验证（可选）"
                },
                "email": {
                  "type": "string",
                  "title": "邮箱地址"
                },
                "birthday": {
                  "type": "string",
                  "format": "date-time",
                  "title": "出生日期"
                },
                "phone_number": {
                  "$ref": "#/definitions/v1PhoneNumber",
                  "title": "手机号码"
                },
                "address": {
                  "$ref": "#/definitions/v1Address",
                  "title": "地址信息"
                },
                "created_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
                },
                "updated_by": {
                  "type": "string",
                  "format": "int64",
                  "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "自定义元数据，用于存储额外的用户信息（如 JSON 字符串）"
                }
              },
              "description": "以下字段为非敏感/可直接输出（适合公开展示或普通资料页）",
              "title": "User 用户实体，表示系统中的账号信息"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users/{user_id}/password": {
      "put": {
        "operationId": "KnownAdmin_UpdateUserPassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "description": "ID 用户 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "title": "用户名，系统登录凭证，通常唯一"
                },
                "new_password_hash": {
                  "type": "string",
                  "title": "PasswordHash 用户密码在本地使用 sha256 哈希结果"
                },
                "old_password_hash": {
                  "type": "string"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "CredentialAlgorithm": {
      "type": "string",
      "enum": [
        "ALGORITHM_UNSPECIFIED",
        "ALGORITHM_RSA",
        "ALGORITHM_ECDSA",
        "ALGORITHM_ED25519",
        "ALGORITHM_HMAC",
        "ALGORITHM_AES",
        "ALGORITHM_CHACHA20_POLY1305",
        "ALGORITHM_OTHER"
      ],
      "default": "ALGORITHM_UNSPECIFIED",
      "description": "- ALGORITHM_UNSPECIFIED: 未指定\n - ALGORITHM_RSA: 非对称签名/加密算法\n\nRSA 公私钥算法\n - ALGORITHM_ECDSA: ECDSA 椭圆曲线签名算法\n - ALGORITHM_ED25519: Ed25519 高性能椭圆曲线签名算法\n - ALGORITHM_HMAC: 对称签名 / HMAC\n\nHMAC 对称签名算法，hash 类型可在 metadata 指定 (SHA256, SHA512, SHA3 等)\n - ALGORITHM_AES: 对称加密算法\n\nAES 对称加密算法，可在 metadata 指定 key 长度 (128/256) 和模式 (GCM/CBC 等)\n - ALGORITHM_CHACHA20_POLY1305: ChaCha20-Poly1305 对称加密 + 完整性验证，高性能\n - ALGORITHM_OTHER: 国密 / 自定义算法\n\n自定义算法或国密算法（如 SM2/SM3/SM4 或企业自研算法）",
      "title": "算法类型枚举"
    },
    "CredentialApiKeyData": {
      "type": "object",
      "properties": {
        "api_key": {
          "type": "string",
          "title": "API Key 的公有标识"
        },
        "api_secret": {
          "type": "string",
          "format": "byte",
          "title": "API Secret / 私密部分，敏感数据"
        }
      },
      "title": "API 密钥结构"
    },
    "CredentialKeyPairData": {
      "type": "object",
      "properties": {
        "public_key": {
          "type": "string",
          "format": "byte",
          "title": "公钥内容（PEM/DER 格式）"
        },
        "private_key": {
          "type": "string",
          "format": "byte",
          "title": "私钥内容（PEM/DER 格式），敏感数据"
        },
        "passphrase": {
          "type": "string",
          "format": "byte",
          "title": "私钥加密口令，可选"
        }
      },
      "title": "非对称密钥对"
    },
    "CredentialLicenseData": {
      "type": "object",
      "properties": {
        "license_key": {
          "type": "string",
          "title": "许可证密钥或主体内容"
        },
        "signature": {
          "type": "string",
          "title": "许可证数字签名，用于验证完整性"
        }
      },
      "title": "软件许可证"
    },
    "CredentialSource": {
      "type": "string",
      "enum": [
        "SOURCE_UNSPECIFIED",
        "SOURCE_SYSTEM",
        "SOURCE_USER",
        "SOURCE_KMS",
        "SOURCE_EXTERNAL"
      ],
      "default": "SOURCE_UNSPECIFIED",
      "description": "- SOURCE_UNSPECIFIED: 未指定\n - SOURCE_SYSTEM: 系统自动生成\n - SOURCE_USER: 用户创建\n - SOURCE_KMS: KMS/HSM 生成\n - SOURCE_EXTERNAL: 外部导入",
      "title": "凭证来源"
    },
    "CredentialUsage": {
      "type": "string",
      "enum": [
        "USAGE_UNSPECIFIED",
        "USAGE_SIGNING",
        "USAGE_ENCRYPTION",
        "USAGE_AUTH",
        "USAGE_LICENSE",
        "USAGE_OTP"
      ],
      "default": "USAGE_UNSPECIFIED",
      "description": "- USAGE_UNSPECIFIED: 未指定用途\n - USAGE_SIGNING: 技术用途\n\n数据签名/完整性验证\n - USAGE_ENCRYPTION: 数据加密/解密\n - USAGE_AUTH: 业务用途\n\n身份认证/授权\n - USAGE_LICENSE: 软件许可证验证\n - USAGE_OTP: 一次性密码 / TOTP",
      "title": "凭证用途"
    },
    "CredentialVisibility": {
      "type": "string",
      "enum": [
        "VISIBILITY_UNSPECIFIED",
        "VISIBILITY_PRIVATE",
        "VISIBILITY_INTERNAL",
        "VISIBILITY_PUBLIC",
        "VISIBILITY_GROUP"
      ],
      "default": "VISIBILITY_UNSPECIFIED",
      "description": "- VISIBILITY_UNSPECIFIED: 未指定\n - VISIBILITY_PRIVATE: 仅创建者/管理员可见\n - VISIBILITY_INTERNAL: 系统内部服务可访问\n - VISIBILITY_PUBLIC: 可公开（公钥/证书）\n - VISIBILITY_GROUP: 特定团队可访问",
      "title": "凭证可见性"
    },
    "CredentialX509Data": {
      "type": "object",
      "properties": {
        "certificate": {
          "type": "string",
          "format": "byte",
          "title": "主证书（PEM/DER 格式）"
        },
        "private_key": {
          "type": "string",
          "format": "byte",
          "title": "对应私钥（PEM/DER 格式），敏感数据，可选"
        },
        "ca_chain": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "title": "可选 CA 证书链（顺序从根到中间证书）"
        }
      },
      "title": "X.509 证书捆绑数据"
    },
    "ListUsersRequestUserView": {
      "type": "string",
      "enum": [
        "USER_VIEW_UNSPECIFIED",
        "USER_VIEW_BASIC",
        "USER_VIEW_FULL"
      ],
      "default": "USER_VIEW_UNSPECIFIED",
      "title": "控制资源返回的详细程度。"
    },
    "OAuth2JSONWebKeysKey": {
      "type": "object",
      "properties": {
        "kty": {
          "type": "string"
        },
        "use": {
          "type": "string"
        },
        "alg": {
          "type": "string"
        },
        "e": {
          "type": "string"
        },
        "n": {
          "type": "string"
        },
        "kid": {
          "type": "string"
        }
      }
    },
    "ResourceScope": {
      "type": "string",
      "enum": [
        "SCOPE_UNSPECIFIED",
        "SCOPE_ADMIN",
        "SCOPE_USER",
        "SCOPE_APP"
      ],
      "default": "SCOPE_UNSPECIFIED",
      "description": "- SCOPE_ADMIN: 后台\n - SCOPE_USER: 前台\n - SCOPE_APP: 移动端",
      "title": "Scope 资源作用域"
    },
    "UserGender": {
      "type": "string",
      "enum": [
        "GENDER_UNSPECIFIED",
        "GENDER_MALE",
        "GENDER_FEMALE",
        "GENDER_OTHER",
        "GENDER_PRIVATE"
      ],
      "default": "GENDER_UNSPECIFIED",
      "description": "- GENDER_MALE: 男性\n - GENDER_FEMALE: 女性\n - GENDER_OTHER: 其他\n - GENDER_PRIVATE: 保密，不愿透露",
      "title": "Gender 用户性别"
    },
    "adminv1Role": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 角色 ID，全局唯一标识"
        },
        "name": {
          "type": "string",
          "title": "Name 角色名称"
        },
        "i18n_name": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "I18NName 角色国际化名称"
        },
        "order_weight": {
          "type": "integer",
          "format": "int32",
          "title": "OrderWeight 菜单排序权重，数字越小越靠前"
        },
        "type": {
          "$ref": "#/definitions/v1RoleType",
          "title": "type 角色类型，决定角色的管理策略和可操作性"
        },
        "status": {
          "$ref": "#/definitions/v1RoleStatus",
          "title": "status 角色状态，控制角色是否可用和权限是否生效"
        },
        "created_by": {
          "type": "string",
          "format": "int64",
          "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
        },
        "updated_by": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "Role 角色实体，表示用户在系统上的权限和功能"
    },
    "v1Address": {
      "type": "object",
      "properties": {
        "country": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "locality": {
          "type": "string"
        },
        "street_address": {
          "type": "string"
        }
      },
      "title": "Address 用户地址\nhttps://openid.net/specs/openid-connect-core-1_0.html#AddressClaim"
    },
    "v1AuthProvider": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 全局唯一标识"
        },
        "name": {
          "type": "string",
          "title": "Name 身份提供商名称，全局唯一"
        },
        "type": {
          "$ref": "#/definitions/v1AuthProviderType"
        },
        "client_id": {
          "type": "string",
          "title": "ClientID 身份提供商客户端 ID"
        },
        "client_secret": {
          "type": "string",
          "title": "ClientSecret 身份提供商客户端密钥"
        },
        "enabled": {
          "type": "boolean",
          "title": "Enabled 身份提供商是否启用"
        },
        "redirect_uri": {
          "type": "string",
          "title": "RedirectURI 身份提供商回调地址"
        },
        "scopes": {
          "type": "string",
          "title": "Scopes 身份提供商授权范围"
        },
        "issuer": {
          "type": "string",
          "title": "Issuer 身份提供商标识"
        },
        "authorization_endpoint": {
          "type": "string",
          "title": "身份提供商授权端点"
        },
        "token_endpoint": {
          "type": "string",
          "title": "身份提供商令牌端点"
        },
        "userinfo_endpoint": {
          "type": "string",
          "title": "身份提供商用户信息端点"
        }
      },
      "title": "AuthProvider 身份提供商实体，验证用户登录时使用的第三方服务"
    },
    "v1AuthProviderType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_LOCAL",
        "TYPE_LDAP",
        "TYPE_OIDC",
        "TYPE_OAUTH2",
        "TYPE_GITHUB",
        "TYPE_GOOGLE",
        "TYPE_WECHAT"
      ],
      "default": "TYPE_UNSPECIFIED",
      "title": "Type 身份提供商类型"
    },
    "v1AuthToken": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "token_type": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "AuthToken 登录成功响应\n参考 rfc 规范：https://www.rfc-editor.org/rfc/rfc6749#section-5"
    },
    "v1CreateAuthLoginRequest": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "title": "Username 系统识别的用户名全局唯一"
        },
        "email": {
          "type": "string",
          "title": "Email 用户邮箱地址"
        },
        "phone_number": {
          "type": "string",
          "title": "PhoneNumber 用户手机号"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32",
          "title": "ExpiresIn 控制生成 access_token 的有效时长，默认 24 * 60 * 60 秒"
        },
        "password_hash": {
          "type": "string",
          "title": "PasswordHash 用户密码在本地使用 sha256 哈希结果"
        }
      },
      "title": "CreateAuthLoginRequest 用于登录请求，所有用户均可"
    },
    "v1CreateAuthTokenRequest": {
      "type": "object",
      "properties": {
        "appid": {
          "type": "string",
          "title": "Appid 关联应用标识"
        },
        "username": {
          "type": "string",
          "title": "Username 系统识别的用户名全局唯一"
        },
        "email": {
          "type": "string",
          "title": "Email 用户邮箱地址"
        },
        "phone_number": {
          "type": "string",
          "title": "PhoneNumber 用户手机号"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32",
          "title": "ExpiresIn 控制生成 access_token 的有效时长，默认 24 * 60 * 60 秒"
        },
        "password_hash": {
          "type": "string",
          "title": "PasswordHash 用户密码在本地使用 sha256 哈希结果"
        }
      },
      "title": "CreateAuthTokenRequest 用于创建 token，仅管理员或特定用户可建"
    },
    "v1CreateDatabaseInitializeRequest": {
      "type": "object"
    },
    "v1CreateDepartmentMembersResponse": {
      "type": "object"
    },
    "v1CreateGroupMembersResponse": {
      "type": "object"
    },
    "v1Credential": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "凭证唯一 ID"
        },
        "name": {
          "type": "string",
          "title": "凭证显示名称"
        },
        "type": {
          "$ref": "#/definitions/v1CredentialType",
          "title": "凭证类型"
        },
        "algorithm": {
          "$ref": "#/definitions/CredentialAlgorithm",
          "title": "技术算法"
        },
        "usage": {
          "$ref": "#/definitions/CredentialUsage",
          "title": "业务用途"
        },
        "visibility": {
          "$ref": "#/definitions/CredentialVisibility",
          "title": "可见性"
        },
        "status": {
          "$ref": "#/definitions/v1CredentialStatus",
          "title": "当前状态"
        },
        "source": {
          "$ref": "#/definitions/CredentialSource",
          "title": "凭证来源"
        },
        "key_id": {
          "type": "string",
          "title": "外部系统 Key ID / JWKS ID / HSM ID"
        },
        "api_key": {
          "$ref": "#/definitions/CredentialApiKeyData",
          "title": "API Key"
        },
        "key_pair": {
          "$ref": "#/definitions/CredentialKeyPairData",
          "title": "公私钥对"
        },
        "x509": {
          "$ref": "#/definitions/CredentialX509Data",
          "title": "X.509 证书数据"
        },
        "license": {
          "$ref": "#/definitions/CredentialLicenseData",
          "title": "软件许可证"
        },
        "symmetric_key": {
          "type": "string",
          "format": "byte",
          "title": "对称密钥 / HMAC / JWT"
        },
        "jwks_uri": {
          "type": "string",
          "title": "JWKS URI"
        },
        "not_before": {
          "type": "string",
          "format": "date-time",
          "description": "生效时间（Not Before）",
          "title": "时间相关字段"
        },
        "expires_at": {
          "type": "string",
          "format": "date-time",
          "title": "过期时间"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "创建时间"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "最后更新时间"
        },
        "created_by": {
          "type": "string",
          "format": "int64",
          "description": "创建者用户 ID",
          "title": "审计信息"
        },
        "updated_by": {
          "type": "string",
          "format": "int64",
          "title": "更新者用户 ID"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "自定义业务属性",
          "title": "附加元数据和描述"
        },
        "description": {
          "type": "string",
          "title": "凭证说明或备注"
        }
      },
      "title": "企业级通用凭证定义\n支持 API Key、X.509 证书、非对称密钥对、HMAC/对称密钥、JWKS、软件许可证等多种凭证类型\n提供分层管理：类型、算法、用途、可见性、来源、策略、审计和元数据"
    },
    "v1CredentialStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_ACTIVE",
        "STATUS_PENDING",
        "STATUS_DISABLED",
        "STATUS_EXPIRED",
        "STATUS_REVOKED"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": "- STATUS_UNSPECIFIED: 未指定状态\n - STATUS_ACTIVE: 有效且正在使用\n - STATUS_PENDING: 待激活/待验证\n - STATUS_DISABLED: 手动禁用\n - STATUS_EXPIRED: 已过期\n - STATUS_REVOKED: 已吊销/废弃",
      "title": "凭证状态"
    },
    "v1CredentialType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_API_KEY",
        "TYPE_SYMMETRIC_KEY",
        "TYPE_KEY_PAIR",
        "TYPE_X509",
        "TYPE_LICENSE",
        "TYPE_JWKS",
        "TYPE_HSM_REF",
        "TYPE_FIDO",
        "TYPE_OTHER"
      ],
      "default": "TYPE_UNSPECIFIED",
      "description": "- TYPE_UNSPECIFIED: 未指定类型\n - TYPE_API_KEY: API Key\n - TYPE_SYMMETRIC_KEY: 对称密钥 / HMAC / AES\n - TYPE_KEY_PAIR: 公私钥对\n - TYPE_X509: X.509 证书凭证（包含主证书、私钥、CA链）\n - TYPE_LICENSE: 软件许可证\n - TYPE_JWKS: JSON Web Key Set URI / 内容\n - TYPE_HSM_REF: 外部安全模块 (KMS/HSM) 引用\n - TYPE_FIDO: 硬件安全密钥 / 多因素认证设备\n - TYPE_OTHER: 未来扩展自定义类型",
      "title": "凭证类型（载体/结构）"
    },
    "v1Department": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 部门唯一标识符，系统自动生成\n用于数据库主键和跨系统引用，建议使用自增整型"
        },
        "parent_id": {
          "type": "integer",
          "format": "int32",
          "title": "ParentID 父部门ID，构建树形组织结构\n值为 0 表示顶级部门（如：总公司、集团总部）\n支持多级嵌套，建议层级深度不超过 6 级以保证查询性能"
        },
        "name": {
          "type": "string",
          "title": "Name 部门名称，用于系统内部显示和业务逻辑\n要求：长度 1-100 字符，同级部门名称不可重复\n示例：\"技术研发部\"、\"市场营销部\"、\"人力资源部\""
        },
        "i18n_name": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "I18nName 国际化名称配置，支持多语言环境\n用于跨国企业的多语言界面显示\n包含语言代码和对应翻译文本的映射关系"
        },
        "type": {
          "$ref": "#/definitions/v1DepartmentType"
        },
        "status": {
          "$ref": "#/definitions/v1DepartmentStatus"
        },
        "order_weight": {
          "type": "integer",
          "format": "int32",
          "title": "OrderWeight 部门排序权重，用于同级部门的显示顺序\n数值越小排序越靠前，建议使用 10 的倍数便于后续插入\n默认值：100，范围：1-9999"
        },
        "managers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1DepartmentMember"
          },
          "title": "Managers 部门管理者列表，包含各级管理人员和负责人\n通过 DepartmentMember 关系表维护，支持精细化角色区分\n支持的管理角色：部门经理、副经理、主管、组长等\n可根据 DepartmentMember.member_role 字段区分具体的管理职责和权限级别"
        },
        "children": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Department"
          },
          "title": "Children 直接子部门列表，用于构建完整的组织树\n仅包含直接下级，避免深度递归查询\n建议在需要完整树结构时通过专门的服务接口获取"
        },
        "email": {
          "type": "string",
          "title": "Email 部门公共邮箱地址，用于对外联系和内部通知\n格式：标准邮箱格式，如 \"tech@company.com\"\n用途：部门公告、外部合作、客户联系等"
        },
        "phone_number": {
          "$ref": "#/definitions/v1PhoneNumber",
          "title": "PhoneNumber 部门联系电话，支持国际化电话号码格式\n包含国家代码、区号、号码等完整信息\n用于紧急联系、业务咨询等场景"
        },
        "address": {
          "$ref": "#/definitions/v1Address",
          "title": "Address 部门办公地址，支持结构化地址信息\n包含国家、省市、详细地址等信息\n用于邮寄、拜访、资产管理等业务场景"
        },
        "cost_center_code": {
          "type": "string",
          "title": "CostCenterCode 成本中心编码，用于财务核算和成本控制\n格式：企业自定义编码规则，如 \"CC-TECH-001\"\n用途：预算分配、成本归集、财务报表等\n与 ERP 系统集成时的重要标识字段"
        },
        "budget_item_code": {
          "type": "string",
          "title": "BudgetCode 预算编码，用于预算管理和费用控制\n格式：与财务系统对应的预算科目编码\n用途：年度预算、费用审批、财务分析等\n支持多维度预算管理（如：人员预算、设备预算等）"
        },
        "max_members": {
          "type": "integer",
          "format": "int32",
          "title": "MaxMembers 部门最大成员数限制，用于人员规模控制\n值为 0 表示无限制，正整数表示具体限制\n用途：组织规模控制、人力成本管理、办公空间规划"
        },
        "external_id": {
          "type": "string",
          "title": "ExternalID 外部系统标识符，用于第三方系统集成\n如：ERP 系统部门编码、OA 系统部门 ID 等\n支持数据同步和跨系统业务流程"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "Metadata 扩展元数据，存储自定义业务属性\n键值对格式，支持灵活的业务扩展需求\n示例：{\"location\": \"北京\", \"floor\": \"15F\", \"capacity\": \"50\"}"
        },
        "created_by": {
          "type": "string",
          "format": "int64",
          "title": "CreatedBy 创建者用户ID，记录部门创建人\n用于审计追踪和权限验证"
        },
        "updated_by": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedBy 最后更新者用户ID，记录最近修改人\n用于变更追踪和责任确认"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "CreatedAt 创建时间戳，记录部门建立时间\n使用 UTC 时间，精确到毫秒级别"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "UpdatedAt 最后更新时间戳，记录最近修改时间\n用于数据同步和缓存失效判断"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "title": "DeletedAt 软删除时间戳，支持数据恢复\n非空表示已删除，空值表示正常状态\n实现软删除机制，保护重要组织数据"
        },
        "description": {
          "type": "string",
          "title": "Description 部门描述信息，详细说明部门职责和业务范围\n用于组织介绍、职责说明、业务范围描述等\n建议长度：500 字符以内，支持富文本格式"
        }
      },
      "title": "Department 组织部门实体，支持树形层级结构的企业组织架构管理\n设计原则：一个用户仅可归属于一个主部门，但可通过角色关系参与多个部门的管理\n支持国际化、状态管理、财务集成等企业级功能"
    },
    "v1DepartmentMember": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 部门成员关系唯一标识符，系统自动生成\n用于数据库主键和关系追踪，支持历史记录查询"
        },
        "user_id": {
          "type": "string",
          "format": "int64",
          "title": "UserID 用户唯一标识符，建立与用户实体的关联\n支持一个用户在多个部门中拥有不同角色和权限"
        },
        "username": {
          "type": "string",
          "title": "Username 用户名，用于快速识别和显示\n冗余字段，避免频繁关联查询，提升查询性能\n建议与用户主表保持同步更新"
        },
        "nickname": {
          "type": "string",
          "title": "Nickname 用户昵称或显示名称，用于友好的界面展示\n支持中文名称、英文名称等多种显示格式\n用于组织架构图、通讯录等场景的显示"
        },
        "department_id": {
          "type": "integer",
          "format": "int32",
          "title": "DepartmentID 部门唯一标识符，建立与部门实体的关联\n支持用户在多个部门中的复杂组织关系"
        },
        "member_role": {
          "$ref": "#/definitions/v1DepartmentMemberRole"
        },
        "member_status": {
          "$ref": "#/definitions/v1DepartmentMemberStatus"
        },
        "created_by": {
          "type": "string",
          "format": "int64",
          "title": "CreatedBy 创建者用户ID，记录是谁添加了这个部门成员关系\n用于审计追踪、权限验证、责任确认等合规场景\n在批量导入时可能为系统管理员ID"
        },
        "updated_by": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedBy 最后更新者用户ID，记录最近一次修改的操作人\n用于变更追踪、责任确认、审计日志等场景"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "CreatedAt 关系创建时间，记录用户加入部门的时间\n用于统计分析、考勤计算、工龄统计等业务场景"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "UpdatedAt 关系最后更新时间，记录最近一次修改的时间\n用于数据同步、缓存失效、变更追踪等技术场景"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "Metadata 扩展元数据，存储自定义业务属性\n键值对格式，支持灵活的业务扩展需求\n示例：{\"seat_number\": \"A-101\", \"phone_ext\": \"8001\", \"skill_tags\": \"Java,Python\"}"
        },
        "description": {
          "type": "string",
          "title": "Description 详细说明信息，描述用户在部门中的具体职责\n用于职责说明、工作内容描述、特殊安排说明等\n建议长度：500 字符以内，支持富文本格式"
        }
      },
      "title": "DepartmentMember 部门成员关系实体，支持企业级组织管理\n用于描述用户与部门之间的多对多关系，支持复杂的角色层级、状态管理、\n审计追踪、汇报关系等企业级功能，满足大型组织的精细化管理需求"
    },
    "v1DepartmentMemberRole": {
      "type": "string",
      "enum": [
        "ROLE_UNSPECIFIED",
        "ROLE_OWNER",
        "ROLE_DEPUTY",
        "ROLE_MANAGER",
        "ROLE_SUPERVISOR",
        "ROLE_LEAD",
        "ROLE_SENIOR",
        "ROLE_MEMBER",
        "ROLE_INTERN",
        "ROLE_CONSULTANT",
        "ROLE_CONTRACTOR",
        "ROLE_ASSISTANT"
      ],
      "default": "ROLE_UNSPECIFIED",
      "description": "- ROLE_UNSPECIFIED: 未指定角色（系统默认值）\n - ROLE_OWNER: 部门负责人 - 拥有部门最高管理权限\n - ROLE_DEPUTY: 副负责人 - 协助负责人管理部门，拥有大部分管理权限\n - ROLE_MANAGER: 经理 - 负责具体业务管理和团队领导\n - ROLE_SUPERVISOR: 主管 - 负责日常业务监督和指导\n - ROLE_LEAD: 组长 - 负责小组或项目的直接管理\n - ROLE_SENIOR: 高级成员 - 资深员工，可能承担指导职责\n - ROLE_MEMBER: 普通成员 - 标准部门员工\n - ROLE_INTERN: 实习生 - 临时学习和工作的人员\n - ROLE_CONSULTANT: 顾问 - 提供专业建议和指导的外部专家\n - ROLE_CONTRACTOR: 外包人员 - 临时合作的外部工作人员\n - ROLE_ASSISTANT: 助理 - 提供行政和事务支持的人员",
      "title": "Role 部门角色枚举，定义用户在部门中的职责和权限层级\n支持角色继承和权限控制，可用于业务逻辑判断\n角色变更需要审批流程和历史记录追踪"
    },
    "v1DepartmentMemberStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_ACTIVE",
        "STATUS_DISABLED",
        "STATUS_LEFT",
        "STATUS_PENDING",
        "STATUS_SUSPENDED",
        "STATUS_TRANSFERRING"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": "- STATUS_UNSPECIFIED: 未指定状态（系统默认值）\n - STATUS_ACTIVE: 正常状态 - 用户正常工作，拥有完整权限\n - STATUS_DISABLED: 已禁用 - 临时禁用，保留关系但无法访问\n - STATUS_LEFT: 已离开 - 用户已离职或调离，保留历史记录\n - STATUS_PENDING: 待加入 - 申请中或等待审批的状态\n - STATUS_SUSPENDED: 暂停 - 临时暂停工作，如休假、停职等\n - STATUS_TRANSFERRING: 调动中 - 正在进行部门间调动的过渡状态",
      "title": "Status 成员状态枚举，管理用户在部门中的生命周期状态\n支持状态流转和业务流程控制\n状态变更会影响用户的访问权限和业务操作"
    },
    "v1DepartmentStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_ACTIVE",
        "STATUS_INACTIVE",
        "STATUS_DISSOLVED",
        "STATUS_MERGING"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": "- STATUS_UNSPECIFIED: 未指定状态（系统默认值）\n - STATUS_ACTIVE: 正常运营 - 部门正常工作，可分配员工和任务\n - STATUS_INACTIVE: 暂停运营 - 临时停止业务，员工可能被临时调配\n - STATUS_DISSOLVED: 已解散 - 部门正式撤销，员工需重新分配\n - STATUS_MERGING: 合并中 - 正在与其他部门合并，处于过渡状态",
      "title": "Status 部门运营状态，用于生命周期管理"
    },
    "v1DepartmentType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_BUSINESS",
        "TYPE_SUPPORT",
        "TYPE_MANAGEMENT",
        "TYPE_VIRTUAL"
      ],
      "default": "TYPE_UNSPECIFIED",
      "description": "- TYPE_UNSPECIFIED: 未指定类型\n - TYPE_BUSINESS: 业务部门 - 直接产生收入的核心业务单位\n - TYPE_SUPPORT: 支持部门 - 为业务部门提供服务支撑（如：IT、HR）\n - TYPE_MANAGEMENT: 管理部门 - 负责决策和监督的管理层级\n - TYPE_VIRTUAL: 虚拟部门 - 项目组、临时团队等非固定组织",
      "title": "Type 部门类型分类，用于业务逻辑和权限控制"
    },
    "v1GetAuthCallbackResponse": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "token_type": {
          "type": "string"
        }
      }
    },
    "v1GetConfigResponse": {
      "type": "object"
    },
    "v1Group": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 群组 ID，全局唯一标识"
        },
        "name": {
          "type": "string",
          "title": "Name 群组名称，系统内唯一标识符"
        },
        "type": {
          "$ref": "#/definitions/v1GroupType"
        },
        "status": {
          "$ref": "#/definitions/v1GroupStatus"
        },
        "i18n_name": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "I18NName 群组国际化名称，支持多语言显示"
        },
        "order_weight": {
          "type": "integer",
          "format": "int32",
          "title": "OrderWeight 菜单排序权重，数字越小越靠前，用于UI展示排序"
        },
        "parent_id": {
          "type": "integer",
          "format": "int32",
          "title": "ParentID 父群组ID，用于支持群组嵌套，为0表示顶级群组，支持树形组织结构"
        },
        "max_members": {
          "type": "integer",
          "format": "int32",
          "title": "MaxMembers 群组最大成员数量限制，0表示不限制"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "Metadata 元数据，用于存储自定义属性，支持业务扩展"
        },
        "department_id": {
          "type": "integer",
          "format": "int32",
          "title": "DepartmentID 部门ID，用于与部门的联动"
        },
        "external_id": {
          "type": "string",
          "title": "ExternalID 外部系统ID，用于与外部系统集成，实现跨系统用户组同步"
        },
        "description": {
          "type": "string",
          "title": "Description 群组描述，详细说明群组的目的和用途"
        },
        "created_by": {
          "type": "string",
          "format": "int64",
          "title": "CreatedBy 群组创建者/所有者ID，记录创建该群组的用户"
        },
        "updated_by": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedBy 群组最后更新者，记录最后修改该群组的用户"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "CreatedAt 创建时间，记录群组的创建时间戳"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "UpdatedAt 更新时间，记录群组的最后修改时间戳"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "title": "DeleteAt 删除时间，用于软删除机制，记录群组标记为删除的时间"
        }
      },
      "title": "Group 群组实体，表示一类相同维度的用户集合\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理"
    },
    "v1GroupMember": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 群组成员关系 ID，全局唯一标识"
        },
        "user_id": {
          "type": "string",
          "format": "int64",
          "title": "UserID 用户 ID，关联用户表"
        },
        "username": {
          "type": "string",
          "title": "Username 用户名，来自用户表"
        },
        "nickname": {
          "type": "string",
          "title": "Nickname 用户昵称，来自用户表"
        },
        "group_id": {
          "type": "integer",
          "format": "int32",
          "title": "GroupID 群组 ID，关联群组表"
        },
        "member_role": {
          "$ref": "#/definitions/v1GroupMemberRole"
        },
        "member_status": {
          "$ref": "#/definitions/v1GroupMemberStatus"
        },
        "joined_at": {
          "type": "string",
          "format": "date-time",
          "title": "JoinedAt 用户加入群组的时间"
        },
        "expired_at": {
          "type": "string",
          "format": "date-time",
          "title": "ExpiredAt 关系有效期，用于临时成员管理，0表示永久有效"
        },
        "created_by": {
          "type": "string",
          "format": "int64",
          "title": "CreatedBy 创建者 ID，记录创建该关系的用户"
        },
        "updated_by": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedBy 最后更新者 ID，记录最后修改该关系的用户"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "CreatedAt 创建时间，记录关系的创建时间戳"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "UpdatedAt 更新时间，记录关系的最后修改时间戳"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "Metadata 元数据，用于存储自定义属性，支持业务扩展"
        },
        "description": {
          "type": "string",
          "title": "Description 群组描述，详细说明群组的目的和用途"
        }
      },
      "title": "GroupMember 群组成员关系\n该模型用于描述用户与群组之间的关联关系，支持多状态管理和角色定义"
    },
    "v1GroupMemberRole": {
      "type": "string",
      "enum": [
        "ROLE_UNSPECIFIED",
        "ROLE_OWNER",
        "ROLE_ADMIN",
        "ROLE_MEMBER",
        "ROLE_GUEST"
      ],
      "default": "ROLE_UNSPECIFIED",
      "description": "- ROLE_UNSPECIFIED: 默认值/未指定\n - ROLE_OWNER: 所有者：拥有群组最高权限\n - ROLE_ADMIN: 管理员：管理群组成员和基本设置\n - ROLE_MEMBER: 普通成员：拥有基本访问权限\n - ROLE_GUEST: 访客：拥有受限访问权限",
      "title": "Role 用户在群组中的角色\n用户在群组中的角色枚举"
    },
    "v1GroupMemberStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_PENDING",
        "STATUS_ACTIVE",
        "STATUS_INVITED",
        "STATUS_DISABLED",
        "STATUS_REJECTED",
        "STATUS_LEFT"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": "- STATUS_UNSPECIFIED: 默认值／未知状态：系统默认值，通常不直接使用\n - STATUS_PENDING: 待激活／待验证：用户申请加入群组等待审批\n - STATUS_ACTIVE: 正常启用状态：用户正式加入群组\n - STATUS_INVITED: 被邀请加入：用户收到群组邀请但尚未回应\n - STATUS_DISABLED: 禁用（人工停用）：用户被临时限制群组权限\n - STATUS_REJECTED: 被拒绝加入：用户申请或邀请被拒绝\n - STATUS_LEFT: 已退出：用户主动退出群组",
      "title": "Status 群组成员关系状态\n群组成员关系状态"
    },
    "v1GroupStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_PENDING",
        "STATUS_ACTIVE",
        "STATUS_ARCHIVED",
        "STATUS_DISABLED"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": "- STATUS_UNSPECIFIED: 默认值／未知状态：系统默认值，通常不直接使用\n - STATUS_PENDING: 待激活／待验证：创建后等待审核或激活的状态\n - STATUS_ACTIVE: 正常启用状态：群组正常运行中，可以进行成员管理和权限分配\n - STATUS_ARCHIVED: 被归档，但可查询：群组不再活跃但保留历史数据，成员不允许变更\n - STATUS_DISABLED: 禁用，不可查询：群组被临时停用，通常为人工操作结果",
      "title": "Status 群组状态，控制群组的可用状态\n群组状态（枚举值预计不会太频繁变化）\n可以根据业务再增加状态"
    },
    "v1GroupType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_DEPARTMENT",
        "TYPE_PROJECT",
        "TYPE_ROLE",
        "TYPE_CUSTOM"
      ],
      "default": "TYPE_UNSPECIFIED",
      "description": "- TYPE_UNSPECIFIED: 默认值/未指定：系统默认值，通常不直接使用\n - TYPE_DEPARTMENT: 部门群组：基于组织架构的部门划分，则 external_id 对应 department_id\n - TYPE_PROJECT: 项目群组：基于项目或任务的临时分组\n - TYPE_ROLE: 角色群组：基于用户角色或权限的分组\n - TYPE_CUSTOM: 自定义群组：用户根据特定业务需求自定义的分组",
      "title": "Type 群组类型，标识群组的业务用途\n群组类型，用于区分不同用途的群组"
    },
    "v1ListAuthProvidersResponse": {
      "type": "object",
      "properties": {
        "providers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthProvider"
          }
        }
      }
    },
    "v1ListDepartmentMembersResponse": {
      "type": "object",
      "properties": {
        "department_members": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1DepartmentMember"
          },
          "title": "符合查询条件的用户资源。"
        },
        "next_page_token": {
          "type": "string",
          "title": "用于获取下一页结果的 token。\n- 如果为空，表示没有更多结果。\n- 客户端不需要理解其内容，只需原样传回。\nAIP-132: 必须字段。"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "title": "符合条件的资源总数。\n- 常用于前端分页控件。\n- 注意：可能会因性能原因而近似。\nAIP-132: total_size 是可选字段。"
        }
      }
    },
    "v1ListDepartmentsResponse": {
      "type": "object",
      "properties": {
        "departments": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Department"
          }
        }
      }
    },
    "v1ListGroupMembersResponse": {
      "type": "object",
      "properties": {
        "group_members": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1GroupMember"
          },
          "title": "符合查询条件的用户资源。"
        },
        "next_page_token": {
          "type": "string",
          "title": "用于获取下一页结果的 token。\n- 如果为空，表示没有更多结果。\n- 客户端不需要理解其内容，只需原样传回。\nAIP-132: 必须字段。"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "title": "符合条件的资源总数。\n- 常用于前端分页控件。\n- 注意：可能会因性能原因而近似。\nAIP-132: total_size 是可选字段。"
        }
      }
    },
    "v1ListGroupsResponse": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
[...]
