openapiOptions:
  # grpc.gateway.protoc_gen_openapiv2.options.Swagger
  # 对应 swagger 属性，一般不做更改
  file:
    - file: "known/admin/v1/admin.proto"
      option:
        swagger: "2.0"
        info:
          title: "known-admin-v1"
          contact:
            name: "admin.v1.known"
            url: "http://admin.v1.known.api.grpc-kit.com"
          license:
            name: "Apache License 2.0"
            url: "https://github.com/grpc-kit/cli/blob/main/LICENSE"
          version: "0.1.19"
        host: "admin.v1.known.api.grpc-kit.com"
        base_path: "/"
        schemes:
          - "HTTP"
        consumes:
          - "application/json"
        produces:
          - "application/json"
        securityDefinitions:
          security:
            BasicAuth:
              type: "TYPE_BASIC"
            ApiKeyAuth:
              type: "TYPE_API_KEY"
              in: "IN_HEADER"
              name: "Authorization: Bearer <token>"
        security:
          - securityRequirement:
              BasicAuth: {}
          - securityRequirement:
              ApiKeyAuth: {}
        responses:
          "4xx":
            description: "客户端参数异常"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
          "5xx":
            description: "服务端处理异常"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
        external_docs:
          description: 'Code generated by "grpc-kit-cli/0.3.8-beta.1"'
          url: "https://grpc-kit.com"