openapiOptions:
  # grpc.gateway.protoc_gen_openapiv2.options.Swagger
  # 对应 swagger 属性，一般不做更改
  file:
    - file: "known/admin/v1/admin.proto"
      option:
        swagger: "2.0"
        info:
          title: "known-admin-v1"
          contact:
            name: "admin.v1.known"
            url: "http://admin.v1.known.api.grpc-kit.com"
          license:
            name: "Apache License 2.0"
            url: "https://github.com/grpc-kit/cli/blob/main/LICENSE"
          version: "0.1.19"
        host: "admin.v1.known.api.grpc-kit.com"
        base_path: "/"
        schemes:
          - "HTTP"
        consumes:
          - "application/json"
        produces:
          - "application/json"
        securityDefinitions:
          security:
            BasicAuth:
              type: "TYPE_BASIC"
            ApiKeyAuth:
              type: "TYPE_API_KEY"
              in: "IN_HEADER"
              name: "Authorization: Bearer <token>"
        security:
          - securityRequirement:
              BasicAuth: {}
          - securityRequirement:
              ApiKeyAuth: {}
        responses:
          "4xx":
            description: "客户端参数异常"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
          "5xx":
            description: "服务端处理异常"
            schema:
              jsonSchema:
                ref: ".grpc_kit.api.known.status.v1.ErrorResponse"
        external_docs:
          description: 'Code generated by "grpc-kit-cli/0.3.8-beta.1"'
          url: "https://grpc-kit.com"

  # grpc.gateway.protoc_gen_openapiv2.options.Operation
  # 对应 proto 中 service 的 rpc
  method:
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateAuthLogin
      option:
        tags:
          - "认证鉴权"
        summary: "登录认证"
        description: "接口格式：/builtin/admin/api/v1/auth/login。LOCAL: password_hash=sha256(password)；LDAP: password_hash=base64(password)（兼容约定）。"
        responses:
          "200":
            examples:
              "application/json": '{"access_token":"<jwt>","token_type":"Bearer","expires_in":86400}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateAuthToken
      option:
        tags:
          - "认证鉴权"
        summary: "创建访问令牌"
        description: "接口格式：/builtin/admin/api/v1/auth/token。用于受控场景下签发 access_token。"
        responses:
          "200":
            examples:
              "application/json": '{"access_token":"<jwt>","token_type":"Bearer","expires_in":86400}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListAuthProviders
      option:
        tags:
          - "认证鉴权"
        summary: "认证提供商列表"
        description: "接口格式：/builtin/admin/api/v1/auth/providers。返回可用的认证方式（LOCAL/LDAP/OIDC/OAUTH2/GITHUB/GOOGLE/WECHAT）。"
        responses:
          "200":
            examples:
              "application/json": '{"providers":[{"id":1,"code":"local","type":"LOCAL","status":"ACTIVE","display_name":"本地登录"}],"next_page_token":"","total_size":1}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.CreateAuthProvider
      option:
        tags:
          - "认证鉴权"
        summary: "创建认证提供商"
        description: "接口格式：/builtin/admin/api/v1/auth/providers。用于创建 LDAP/OIDC/OAUTH2 等认证提供商配置。"
        responses:
          "200":
            examples:
              "application/json": '{"id":2,"code":"corp_ldap","type":"LDAP","status":"ACTIVE","display_name":"企业LDAP"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetAuthProvider
      option:
        tags:
          - "认证鉴权"
        summary: "获取认证提供商详情"
        description: "接口格式：/builtin/admin/api/v1/auth/providers/{id}。"
        responses:
          "200":
            examples:
              "application/json": '{"id":2,"code":"corp_ldap","type":"LDAP","status":"ACTIVE","display_name":"企业LDAP"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.UpdateAuthProvider
      option:
        tags:
          - "认证鉴权"
        summary: "更新认证提供商"
        description: "接口格式：/builtin/admin/api/v1/auth/providers/{id}。按请求字段更新 provider 配置。"
        responses:
          "200":
            examples:
              "application/json": '{"id":2,"code":"corp_ldap","type":"LDAP","status":"ACTIVE","display_name":"企业LDAP（更新）"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.DeleteAuthProvider
      option:
        tags:
          - "认证鉴权"
        summary: "删除认证提供商"
        description: "接口格式：/builtin/admin/api/v1/auth/providers/{id}。删除指定认证提供商。"
        responses:
          "200":
            examples:
              "application/json": '{}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.GetAuthCallback
      option:
        tags:
          - "认证鉴权"
        summary: "第三方认证回调"
        description: "接口格式：/builtin/admin/api/v1/auth/callback/{provider_name}。用于 OIDC/OAUTH2 等外部认证回调换取 token。"
        responses:
          "200":
            examples:
              "application/json": '{"access_token":"<jwt>","token_type":"Bearer"}'
    - method: grpc_kit.api.known.admin.v1.KnownAdmin.ListResources
      option:
        tags:
          - "资源管理"
        description: '接口格式：/builtin/admin/api/v1/resources'
        summary: "资源列表"
        responses:
          "200":
            examples:
              "application/json": '{"resources": [{"id": 1, "name": "resource1", "display_name": "Resource 1", "sort_order": 100, "type": "MENU", "status": "ENABLED", "visibility": "VISIBLE"}]}'