{
  "swagger": "2.0",
  "info": {
    "title": "known-admin-v1",
    "version": "0.1.19",
    "contact": {
      "name": "admin.v1.known",
      "url": "http://admin.v1.known.api.grpc-kit.com"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "https://github.com/grpc-kit/cli/blob/main/LICENSE"
    }
  },
  "host": "admin.v1.known.api.grpc-kit.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/builtin/admin/api/v1/auth/callback/{provider_name}": {
      "get": {
        "operationId": "KnownAdmin_GetAuthCallback",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAuthCallbackResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/login": {
      "post": {
        "summary": "认证鉴权",
        "operationId": "KnownAdmin_CreateAuthLogin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthLoginRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/providers": {
      "get": {
        "operationId": "KnownAdmin_ListAuthProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListAuthProvidersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "KnownAdmin_CreateAuthProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "provider",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1AuthProvider"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/auth/token": {
      "post": {
        "operationId": "KnownAdmin_CreateAuthToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AuthToken"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateAuthTokenRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/credentials": {
      "post": {
        "summary": "安全相关",
        "operationId": "KnownAdmin_CreateCredential",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Credential"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "credential",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Credential"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/database/initialize": {
      "post": {
        "summary": "数据库相关",
        "operationId": "KnownAdmin_CreateDatabaseInitialize",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateDatabaseInitializeRequest"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments": {
      "get": {
        "operationId": "KnownAdmin_ListDepartments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListDepartmentsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "部门相关",
        "operationId": "KnownAdmin_CreateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{department.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Department"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "department.id",
            "description": "ID 实体 ID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "department",
            "description": "Department 组织部门实体，树形结构，一个用户仅可在一个部门内",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "ParentID 父 ID，为 0 表示顶级菜单"
                },
                "name": {
                  "type": "string",
                  "title": "Name 部门名称"
                },
                "i18n_name": {
                  "$ref": "#/definitions/v1I18NName",
                  "title": "I18nName 国际化名称"
                },
                "order_weight": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OrderWeight 菜单排序权重，数字越小越靠前"
                },
                "leaders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Leader"
                  },
                  "title": "Leaders 部门领导列表"
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Department"
                  },
                  "title": "Children 子部门列表"
                }
              },
              "title": "Department 组织部门实体，树形结构，一个用户仅可在一个部门内"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/departments/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteDepartment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups": {
      "get": {
        "operationId": "KnownAdmin_ListGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGroupsResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "rpc CreateUserIdentity(CreateUserIdentityRequest) returns(User);\n群组相关",
        "operationId": "KnownAdmin_CreateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "group",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{group.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Group"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "group.id",
            "description": "ID 群组 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "group",
            "description": "Group 群组实体，表示一类相同维度的用户集合\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "title": "Name 群组名称，系统内唯一标识符"
                },
                "type": {
                  "$ref": "#/definitions/v1GroupType",
                  "title": "Type 群组类型，标识群组的业务用途"
                },
                "status": {
                  "$ref": "#/definitions/v1GroupStatus",
                  "title": "Status 群组状态，控制群组的可用状态"
                },
                "i18n_name": {
                  "$ref": "#/definitions/v1I18NName",
                  "title": "I18NName 群组国际化名称，支持多语言显示"
                },
                "order_weight": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OrderWeight 菜单排序权重，数字越小越靠前，用于UI展示排序"
                },
                "parent_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "ParentID 父群组ID，用于支持群组嵌套，为0表示顶级群组，支持树形组织结构"
                },
                "max_members": {
                  "type": "integer",
                  "format": "int32",
                  "title": "MaxMembers 群组最大成员数量限制，0表示不限制"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata 元数据，用于存储自定义属性，支持业务扩展"
                },
                "department_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "DepartmentID 部门ID，用于与部门的联动"
                },
                "external_id": {
                  "type": "string",
                  "title": "ExternalID 外部系统ID，用于与外部系统集成，实现跨系统用户组同步"
                },
                "description": {
                  "type": "string",
                  "title": "Description 群组描述，详细说明群组的目的和用途"
                },
                "created_by": {
                  "type": "integer",
                  "format": "int32",
                  "title": "CreatedBy 群组创建者/所有者ID，记录创建该群组的用户"
                },
                "updated_by": {
                  "type": "integer",
                  "format": "int32",
                  "title": "UpdatedBy 群组最后更新者，记录最后修改该群组的用户"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "CreatedAt 创建时间，记录群组的创建时间戳"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "UpdatedAt 更新时间，记录群组的最后修改时间戳"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "DeleteAt 删除时间，用于软删除机制，记录群组标记为删除的时间"
                }
              },
              "title": "Group 群组实体，表示一类相同维度的用户集合\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{parent}/members": {
      "get": {
        "operationId": "KnownAdmin_ListGroupMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListGroupMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateGroupMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateGroupMembersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_members",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1UserGroup"
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/groups/{parent}/members/{user_id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteGroupMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      },
      "patch": {
        "operationId": "KnownAdmin_UpdateGroupMember",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UserGroup"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "group_member",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1UserGroup"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/oatuh2/.well-known/openid-configuration": {
      "get": {
        "operationId": "KnownAdmin_GetOAuth2Discovery",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2Discovery"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/oatuh2/jwks": {
      "get": {
        "operationId": "KnownAdmin_GetOAuth2JSONWebKeys",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OAuth2JSONWebKeys"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      }
    },
    "/builtin/admin/api/v1/resources": {
      "get": {
        "summary": "资源管理",
        "operationId": "KnownAdmin_ListResources",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListResourcesResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "description": "TODO；将来会统一使用 filter 参数实现过滤",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/resources/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/resources/{resource.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Resource"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "resource.id",
            "description": "ID 资源 ID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resource",
            "description": "Resource 资源定义，如：菜单等",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent_id": {
                  "type": "integer",
                  "format": "int32",
                  "title": "ParentID 父资源 ID，为 0 表示顶级资源"
                },
                "name": {
                  "type": "string",
                  "title": "Name 资源名称"
                },
                "i18n_name": {
                  "$ref": "#/definitions/v1I18NName",
                  "title": "I18NName 国际化名称"
                },
                "order_weight": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OrderWeight 资源排序权重，数字越小越靠前"
                },
                "type": {
                  "$ref": "#/definitions/v1ResourceType",
                  "title": "Type 资源用途，如后台管理员、前台用户、APP 应用"
                },
                "scope": {
                  "$ref": "#/definitions/ResourceScope",
                  "title": "Scope 资源作用域"
                },
                "enabled": {
                  "type": "boolean",
                  "title": "Enabled 资源是否启用"
                },
                "hidden": {
                  "type": "boolean",
                  "title": "Hidden 是否在资源列表中隐藏"
                },
                "hide_children": {
                  "type": "boolean",
                  "title": "HideChildren 是否在资源列表中隐藏子项"
                },
                "path": {
                  "type": "string",
                  "title": "Path 资源路径"
                },
                "icon": {
                  "type": "string",
                  "title": "Icon 资源图标，通常用于前端展示"
                },
                "component": {
                  "type": "string"
                },
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1Resource"
                  },
                  "title": "Children 子资源列表"
                },
                "description": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "title": "Resource 资源定义，如：菜单等"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles": {
      "get": {
        "operationId": "KnownAdmin_ListRoles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRolesResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "角色相关",
        "operationId": "KnownAdmin_CreateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{parent}/users": {
      "get": {
        "operationId": "KnownAdmin_ListRoleUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListRoleUsersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{parent}/users/{user_id}": {
      "delete": {
        "operationId": "KnownAdmin_DeleteRoleUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{role.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/adminv1Role"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role.id",
            "description": "ID 角色 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "role",
            "description": "Role 角色实体，表示用户在系统上的权限和功能",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "title": "Name 角色名称"
                },
                "i18n_name": {
                  "$ref": "#/definitions/v1I18NName",
                  "title": "I18NName 角色国际化名称"
                },
                "order_weight": {
                  "type": "integer",
                  "format": "int32",
                  "title": "OrderWeight 菜单排序权重，数字越小越靠前"
                },
                "description": {
                  "type": "string"
                }
              },
              "title": "Role 角色实体，表示用户在系统上的权限和功能"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/roles/{role_id}:assign": {
      "post": {
        "operationId": "KnownAdmin_AssignRoleToUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "users": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/v1User"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users": {
      "get": {
        "operationId": "KnownAdmin_ListUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListUsersResponse"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "父资源名称，用于限定范围。\n格式示例: \"organizations/123\" 或 \"projects/456\"。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "每页返回的最大用户数。\n- 如果未指定，则使用服务端默认值 (如 20)。\n- 最大不超过 100 (超出时强制截断)。",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "Cursor-based 分页",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset-based 分页",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "description": "过滤条件，采用 AIP-160 定义的标准 filter 语法。\n示例: `email=\"alice@example.com\" AND state=\"ACTIVE\"`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "排序规则，指定结果返回顺序。\n格式: \"field_name [asc|desc], ...\"。\n示例: \"create_time desc, name asc\"\nAIP-132: order_by 是可选字段。",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "show_deleted",
            "description": "是否包含已删除资源。\n- 默认 false，仅返回有效资源。\n- 设为 true 可返回软删除的用户。\nAIP-132: show_deleted 是可选字段。",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "view",
            "description": "视图模式，决定返回数据的详细程度。\n- BASIC: 基本信息（默认）\n- FULL: 详细信息\nAIP-157: 建议支持。",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "USER_VIEW_UNSPECIFIED",
              "USER_VIEW_BASIC",
              "USER_VIEW_FULL"
            ],
            "default": "USER_VIEW_UNSPECIFIED"
          }
        ]
      },
      "post": {
        "operationId": "KnownAdmin_CreateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users/{id}": {
      "get": {
        "summary": "用户相关",
        "operationId": "KnownAdmin_GetUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID 用户 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "username",
            "description": "用户名，系统登录凭证，通常唯一",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users/{user.id}": {
      "patch": {
        "operationId": "KnownAdmin_UpdateUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1User"
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user.id",
            "description": "ID 用户 ID，全局唯一标识，使用 int64 序列化为 json 为 string 类型",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user",
            "description": "User 用户实体，表示系统中的账号信息",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "title": "用户名，系统登录凭证，必须唯一"
                },
                "nickname": {
                  "type": "string",
                  "title": "昵称，用于社交或前端展示"
                },
                "profile": {
                  "type": "string",
                  "title": "个人简介或签名"
                },
                "picture": {
                  "type": "string",
                  "title": "用户头像 URL"
                },
                "website": {
                  "type": "string",
                  "title": "个人网站地址"
                },
                "zoneinfo": {
                  "type": "string",
                  "title": "时区信息（IANA 时区标识，例如 \"Asia/Shanghai\"）"
                },
                "locale": {
                  "type": "string",
                  "title": "用户偏好的语言与地区（例如 \"zh-CN\"、\"en-US\"）"
                },
                "type": {
                  "$ref": "#/definitions/v1UserType",
                  "title": "用户的基础身份类型，后端自动维护更新，非人为更新"
                },
                "status": {
                  "$ref": "#/definitions/v1UserStatus",
                  "title": "用户状态，表示当前账号的生命周期阶段"
                },
                "gender": {
                  "$ref": "#/definitions/UserGender",
                  "title": "性别"
                },
                "email_verified": {
                  "type": "boolean",
                  "title": "邮箱是否已验证"
                },
                "phone_number_verified": {
                  "type": "boolean",
                  "title": "手机号码是否已验证"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "创建时间"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "更新时间"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "title": "删除时间"
                },
                "realname": {
                  "type": "string",
                  "title": "真实姓名，用于实名认证或后台展示"
                },
                "national_id": {
                  "type": "string",
                  "title": "身份证号，用于身份验证（可选）"
                },
                "email": {
                  "type": "string",
                  "title": "邮箱地址"
                },
                "birthday": {
                  "type": "string",
                  "format": "date-time",
                  "title": "出生日期"
                },
                "phone_number": {
                  "$ref": "#/definitions/v1PhoneNumber",
                  "title": "手机号码"
                },
                "address": {
                  "$ref": "#/definitions/v1Address",
                  "title": "地址信息"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "自定义元数据，用于存储额外的用户信息（如 JSON 字符串）"
                }
              },
              "title": "User 用户实体，表示系统中的账号信息"
            }
          }
        ]
      }
    },
    "/builtin/admin/api/v1/users/{user_id}/password": {
      "put": {
        "operationId": "KnownAdmin_UpdateUserPassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "4xx": {
            "description": "客户端参数异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          },
          "5xx": {
            "description": "服务端处理异常",
            "schema": {
              "$ref": ".grpc_kit.api.known.status.v1.ErrorResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "description": "ID 用户 ID，全局唯一标识",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "title": "用户名，系统登录凭证，通常唯一"
                },
                "new_password_hash": {
                  "type": "string",
                  "title": "PasswordHash 用户密码在本地使用 sha256 哈希结果"
                },
                "old_password_hash": {
                  "type": "string"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "ListUsersRequestUserView": {
      "type": "string",
      "enum": [
        "USER_VIEW_UNSPECIFIED",
        "USER_VIEW_BASIC",
        "USER_VIEW_FULL"
      ],
      "default": "USER_VIEW_UNSPECIFIED",
      "title": "控制资源返回的详细程度。"
    },
    "OAuth2JSONWebKeysKey": {
      "type": "object",
      "properties": {
        "kty": {
          "type": "string"
        },
        "use": {
          "type": "string"
        },
        "alg": {
          "type": "string"
        },
        "e": {
          "type": "string"
        },
        "n": {
          "type": "string"
        },
        "kid": {
          "type": "string"
        }
      }
    },
    "ResourceScope": {
      "type": "string",
      "enum": [
        "SCOPE_UNSPECIFIED",
        "SCOPE_ADMIN",
        "SCOPE_USER",
        "SCOPE_APP"
      ],
      "default": "SCOPE_UNSPECIFIED",
      "description": "- SCOPE_ADMIN: 后台\n - SCOPE_USER: 前台\n - SCOPE_APP: 移动端",
      "title": "Scope 资源作用域"
    },
    "UserGender": {
      "type": "string",
      "enum": [
        "GENDER_UNSPECIFIED",
        "GENDER_MALE",
        "GENDER_FEMALE",
        "GENDER_OTHER"
      ],
      "default": "GENDER_UNSPECIFIED",
      "description": "- GENDER_MALE: 男性\n - GENDER_FEMALE: 女性\n - GENDER_OTHER: 其他",
      "title": "Gender 用户性别"
    },
    "adminv1Role": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 角色 ID，全局唯一标识"
        },
        "name": {
          "type": "string",
          "title": "Name 角色名称"
        },
        "i18n_name": {
          "$ref": "#/definitions/v1I18NName",
          "title": "I18NName 角色国际化名称"
        },
        "order_weight": {
          "type": "integer",
          "format": "int32",
          "title": "OrderWeight 菜单排序权重，数字越小越靠前"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "Role 角色实体，表示用户在系统上的权限和功能"
    },
    "v1Address": {
      "type": "object",
      "properties": {
        "country": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "locality": {
          "type": "string"
        },
        "street_address": {
          "type": "string"
        }
      },
      "title": "Address 用户地址\nhttps://openid.net/specs/openid-connect-core-1_0.html#AddressClaim"
    },
    "v1AuthProvider": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 全局唯一标识"
        },
        "name": {
          "type": "string",
          "title": "Name 身份提供商名称，全局唯一"
        },
        "type": {
          "$ref": "#/definitions/v1AuthProviderType",
          "title": "Type 身份提供商类型"
        },
        "client_id": {
          "type": "string",
          "title": "ClientID 身份提供商客户端 ID"
        },
        "client_secret": {
          "type": "string",
          "title": "ClientSecret 身份提供商客户端密钥"
        },
        "enabled": {
          "type": "boolean",
          "title": "Enabled 身份提供商是否启用"
        },
        "redirect_uri": {
          "type": "string",
          "title": "RedirectURI 身份提供商回调地址"
        },
        "scopes": {
          "type": "string",
          "title": "Scopes 身份提供商授权范围"
        },
        "issuer": {
          "type": "string",
          "title": "Issuer 身份提供商标识"
        },
        "authorization_endpoint": {
          "type": "string",
          "title": "身份提供商授权端点"
        },
        "token_endpoint": {
          "type": "string",
          "title": "身份提供商令牌端点"
        },
        "userinfo_endpoint": {
          "type": "string",
          "title": "身份提供商用户信息端点"
        }
      },
      "title": "AuthProvider 身份提供商实体，验证用户登录时使用的第三方服务"
    },
    "v1AuthProviderType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_LOCAL",
        "TYPE_LDAP",
        "TYPE_OIDC",
        "TYPE_OAUTH2",
        "TYPE_GITHUB",
        "TYPE_GOOGLE",
        "TYPE_WECHAT"
      ],
      "default": "TYPE_UNSPECIFIED",
      "title": "Type 身份提供商类型"
    },
    "v1AuthToken": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "token_type": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "AuthToken 登录成功响应\n参考 rfc 规范：https://www.rfc-editor.org/rfc/rfc6749#section-5"
    },
    "v1CreateAuthLoginRequest": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "title": "Username 系统识别的用户名全局唯一"
        },
        "email": {
          "type": "string",
          "title": "Email 用户邮箱地址"
        },
        "phone_number": {
          "type": "string",
          "title": "PhoneNumber 用户手机号"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32",
          "title": "ExpiresIn 控制生成 access_token 的有效时长，默认 24 * 60 * 60 秒"
        },
        "password_hash": {
          "type": "string",
          "title": "PasswordHash 用户密码在本地使用 sha256 哈希结果"
        }
      },
      "title": "CreateAuthLoginRequest 用于登录请求，所有用户均可"
    },
    "v1CreateAuthTokenRequest": {
      "type": "object",
      "properties": {
        "appid": {
          "type": "string",
          "title": "Appid 关联应用标识"
        },
        "username": {
          "type": "string",
          "title": "Username 系统识别的用户名全局唯一"
        },
        "email": {
          "type": "string",
          "title": "Email 用户邮箱地址"
        },
        "phone_number": {
          "type": "string",
          "title": "PhoneNumber 用户手机号"
        },
        "expires_in": {
          "type": "integer",
          "format": "int32",
          "title": "ExpiresIn 控制生成 access_token 的有效时长，默认 24 * 60 * 60 秒"
        },
        "password_hash": {
          "type": "string",
          "title": "PasswordHash 用户密码在本地使用 sha256 哈希结果"
        }
      },
      "title": "CreateAuthTokenRequest 用于创建 token，仅管理员或特定用户可建"
    },
    "v1CreateDatabaseInitializeRequest": {
      "type": "object"
    },
    "v1CreateGroupMembersResponse": {
      "type": "object"
    },
    "v1Credential": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name 凭据名称"
        },
        "type": {
          "$ref": "#/definitions/v1CredentialType",
          "title": "凭据类型"
        },
        "appid": {
          "type": "string",
          "title": "Appid 凭据关联的应用 ID"
        },
        "appkey": {
          "type": "string",
          "title": "Appkey 凭据关联的密钥"
        },
        "public_key": {
          "type": "string",
          "title": "公钥"
        },
        "private_key": {
          "type": "string",
          "title": "私钥"
        },
        "usage": {
          "type": "string"
        },
        "expires_at": {
          "type": "string",
          "format": "date-time",
          "title": "过期时间"
        }
      },
      "title": "Credential 存储凭证信息"
    },
    "v1CredentialType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_API_KEY",
        "TYPE_JWT",
        "TYPE_JWKS",
        "TYPE_RSA",
        "TYPE_ECDSA",
        "TYPE_ED25519",
        "TYPE_SSH_KEY",
        "TYPE_X509",
        "TYPE_LICENSE"
      ],
      "default": "TYPE_UNSPECIFIED",
      "title": "- TYPE_API_KEY: 普通 API key\n - TYPE_JWT: JSON Web Token\n - TYPE_JWKS: JSON Web Key Set\n - TYPE_RSA: RSA 密钥对\n - TYPE_ECDSA: ECDSA 密钥对\n - TYPE_ED25519: Ed25519 密钥对\n - TYPE_SSH_KEY: SSH 公私钥\n - TYPE_X509: 证书\n - TYPE_LICENSE: 软件 License"
    },
    "v1Department": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 实体 ID"
        },
        "parent_id": {
          "type": "integer",
          "format": "int32",
          "title": "ParentID 父 ID，为 0 表示顶级菜单"
        },
        "name": {
          "type": "string",
          "title": "Name 部门名称"
        },
        "i18n_name": {
          "$ref": "#/definitions/v1I18NName",
          "title": "I18nName 国际化名称"
        },
        "order_weight": {
          "type": "integer",
          "format": "int32",
          "title": "OrderWeight 菜单排序权重，数字越小越靠前"
        },
        "leaders": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Leader"
          },
          "title": "Leaders 部门领导列表"
        },
        "children": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Department"
          },
          "title": "Children 子部门列表"
        }
      },
      "title": "Department 组织部门实体，树形结构，一个用户仅可在一个部门内"
    },
    "v1GetAuthCallbackResponse": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "token_type": {
          "type": "string"
        }
      }
    },
    "v1GetConfigResponse": {
      "type": "object"
    },
    "v1Group": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 群组 ID，全局唯一标识"
        },
        "name": {
          "type": "string",
          "title": "Name 群组名称，系统内唯一标识符"
        },
        "type": {
          "$ref": "#/definitions/v1GroupType",
          "title": "Type 群组类型，标识群组的业务用途"
        },
        "status": {
          "$ref": "#/definitions/v1GroupStatus",
          "title": "Status 群组状态，控制群组的可用状态"
        },
        "i18n_name": {
          "$ref": "#/definitions/v1I18NName",
          "title": "I18NName 群组国际化名称，支持多语言显示"
        },
        "order_weight": {
          "type": "integer",
          "format": "int32",
          "title": "OrderWeight 菜单排序权重，数字越小越靠前，用于UI展示排序"
        },
        "parent_id": {
          "type": "integer",
          "format": "int32",
          "title": "ParentID 父群组ID，用于支持群组嵌套，为0表示顶级群组，支持树形组织结构"
        },
        "max_members": {
          "type": "integer",
          "format": "int32",
          "title": "MaxMembers 群组最大成员数量限制，0表示不限制"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "Metadata 元数据，用于存储自定义属性，支持业务扩展"
        },
        "department_id": {
          "type": "integer",
          "format": "int32",
          "title": "DepartmentID 部门ID，用于与部门的联动"
        },
        "external_id": {
          "type": "string",
          "title": "ExternalID 外部系统ID，用于与外部系统集成，实现跨系统用户组同步"
        },
        "description": {
          "type": "string",
          "title": "Description 群组描述，详细说明群组的目的和用途"
        },
        "created_by": {
          "type": "integer",
          "format": "int32",
          "title": "CreatedBy 群组创建者/所有者ID，记录创建该群组的用户"
        },
        "updated_by": {
          "type": "integer",
          "format": "int32",
          "title": "UpdatedBy 群组最后更新者，记录最后修改该群组的用户"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "CreatedAt 创建时间，记录群组的创建时间戳"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "UpdatedAt 更新时间，记录群组的最后修改时间戳"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "title": "DeleteAt 删除时间，用于软删除机制，记录群组标记为删除的时间"
        }
      },
      "title": "Group 群组实体，表示一类相同维度的用户集合\n该模型用于描述系统中各类用户分组，支持多维度的用户组织与管理"
    },
    "v1GroupStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_PENDING",
        "STATUS_ACTIVE",
        "STATUS_ARCHIVED",
        "STATUS_DISABLED"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": "- STATUS_UNSPECIFIED: 默认值／未知状态：系统默认值，通常不直接使用\n - STATUS_PENDING: 待激活／待验证：创建后等待审核或激活的状态\n - STATUS_ACTIVE: 正常启用状态：群组正常运行中，可以进行成员管理和权限分配\n - STATUS_ARCHIVED: 被归档，但可查询：群组不再活跃但保留历史数据，成员不允许变更\n - STATUS_DISABLED: 禁用，不可查询：群组被临时停用，通常为人工操作结果",
      "title": "群组状态（枚举值预计不会太频繁变化）\n可以根据业务再增加状态"
    },
    "v1GroupType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_DEPARTMENT",
        "TYPE_PROJECT",
        "TYPE_ROLE",
        "TYPE_CUSTOM"
      ],
      "default": "TYPE_UNSPECIFIED",
      "description": "- TYPE_UNSPECIFIED: 默认值/未指定：系统默认值，通常不直接使用\n - TYPE_DEPARTMENT: 部门群组：基于组织架构的部门划分，则 external_id 对应 department_id\n - TYPE_PROJECT: 项目群组：基于项目或任务的临时分组\n - TYPE_ROLE: 角色群组：基于用户角色或权限的分组\n - TYPE_CUSTOM: 自定义群组：用户根据特定业务需求自定义的分组",
      "title": "群组类型，用于区分不同用途的群组"
    },
    "v1I18NName": {
      "type": "object",
      "properties": {
        "zh_cn": {
          "type": "string"
        },
        "en_us": {
          "type": "string"
        },
        "ja_jp": {
          "type": "string"
        }
      },
      "title": "I18NName 国际化名称"
    },
    "v1Leader": {
      "type": "object",
      "properties": {
        "type": {
          "type": "integer",
          "format": "int32"
        },
        "user_id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "v1ListAuthProvidersResponse": {
      "type": "object",
      "properties": {
        "providers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthProvider"
          }
        }
      }
    },
    "v1ListDepartmentsResponse": {
      "type": "object",
      "properties": {
        "departments": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Department"
          }
        }
      }
    },
    "v1ListGroupMembersResponse": {
      "type": "object",
      "properties": {
        "group_members": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1UserGroup"
          },
          "title": "符合查询条件的用户资源。"
        },
        "next_page_token": {
          "type": "string",
          "title": "用于获取下一页结果的 token。\n- 如果为空，表示没有更多结果。\n- 客户端不需要理解其内容，只需原样传回。\nAIP-132: 必须字段。"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "title": "符合条件的资源总数。\n- 常用于前端分页控件。\n- 注意：可能会因性能原因而近似。\nAIP-132: total_size 是可选字段。"
        }
      }
    },
    "v1ListGroupsResponse": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Group"
          }
        }
      }
    },
    "v1ListResourcesResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Resource"
          }
        }
      }
    },
    "v1ListRoleUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1User"
          },
          "title": "符合查询条件的用户资源。"
        },
        "next_page_token": {
          "type": "string",
          "title": "用于获取下一页结果的 token。\n- 如果为空，表示没有更多结果。\n- 客户端不需要理解其内容，只需原样传回。\nAIP-132: 必须字段。"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "title": "符合条件的资源总数。\n- 常用于前端分页控件。\n- 注意：可能会因性能原因而近似。\nAIP-132: total_size 是可选字段。"
        }
      }
    },
    "v1ListRolesResponse": {
      "type": "object",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/adminv1Role"
          }
        }
      }
    },
    "v1ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1User"
          },
          "title": "符合查询条件的用户资源。"
        },
        "next_page_token": {
          "type": "string",
          "title": "用于获取下一页结果的 token。\n- 如果为空，表示没有更多结果。\n- 客户端不需要理解其内容，只需原样传回。\nAIP-132: 必须字段。"
        },
        "total_size": {
          "type": "integer",
          "format": "int32",
          "title": "符合条件的资源总数。\n- 常用于前端分页控件。\n- 注意：可能会因性能原因而近似。\nAIP-132: total_size 是可选字段。"
        }
      }
    },
    "v1OAuth2Discovery": {
      "type": "object",
      "properties": {
        "issuer": {
          "type": "string"
        },
        "authorization_endpoint": {
          "type": "string"
        },
        "token_endpoint": {
          "type": "string"
        },
        "jwks_uri": {
          "type": "string",
          "title": "string userinfo_endpoint = 4;"
        },
        "response_types_supported": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "string registration_endpoint = 6;\nstring scopes_supported = 7;"
        },
        "subject_types_supported": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "string response_modes_supported = 9;\nstring grant_types_supported = 10;\nstring acr_values_supported = 11;"
        },
        "id_token_signing_alg_values_supported": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "string id_token_encryption_alg_values_supported = 14;\n string id_token_encryption_enc_values_supported = 15;\n string userinfo_signing_alg_values_supported = 16;\n string userinfo_encryption_alg_values_supported = 17;\n string userinfo_encryption_enc_values_supported = 18;\n string request_object_signing_alg_values_supported = 19;\n string request_object_encryption_alg_values_supported = 20;\n string request_object_encryption_enc_values_supported = 21;\n string token_endpoint_auth_methods_supported = 22;\n string token_endpoint_auth_signing_alg_values_supported = 23;\n string display_values_supported = 24;\n string claim_types_supported = 25;\n string claims_supported = 26;\n string service_documentation = 27;\n string claims_locales_supported = 28;\n string ui_locales_supported = 29;\n string claims_parameter_supported = 30;\n string request_parameter_supported = 31;\n string request_uri_parameter_supported = 32;\n string require_request_uri_registration = 33;\n string op_policy_uri = 34;\n string op_tos_uri = 35;"
        }
      },
      "title": "OAuth2Discovery 提供内置 oidc 服务\nhttps://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata"
    },
    "v1OAuth2JSONWebKeys": {
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/OAuth2JSONWebKeysKey"
          }
        }
      }
    },
    "v1PhoneNumber": {
      "type": "object",
      "properties": {
        "country_code": {
          "type": "string",
          "title": "国家码，字符串更通用，例如 \"86\", \"1\""
        },
        "national_number": {
          "type": "string",
          "title": "本地号码，字符串存储，避免丢失前导零"
        }
      },
      "title": "PhoneNumber 手机号，以 E.164 格式存储（E.164 = '+' + 国家码 + 本地号码）总长度 ≤ 15 位，如：+8613812345678"
    },
    "v1Resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 资源 ID"
        },
        "parent_id": {
          "type": "integer",
          "format": "int32",
          "title": "ParentID 父资源 ID，为 0 表示顶级资源"
        },
        "name": {
          "type": "string",
          "title": "Name 资源名称"
        },
        "i18n_name": {
          "$ref": "#/definitions/v1I18NName",
          "title": "I18NName 国际化名称"
        },
        "order_weight": {
          "type": "integer",
          "format": "int32",
          "title": "OrderWeight 资源排序权重，数字越小越靠前"
        },
        "type": {
          "$ref": "#/definitions/v1ResourceType",
          "title": "Type 资源用途，如后台管理员、前台用户、APP 应用"
        },
        "scope": {
          "$ref": "#/definitions/ResourceScope",
          "title": "Scope 资源作用域"
        },
        "enabled": {
          "type": "boolean",
          "title": "Enabled 资源是否启用"
        },
        "hidden": {
          "type": "boolean",
          "title": "Hidden 是否在资源列表中隐藏"
        },
        "hide_children": {
          "type": "boolean",
          "title": "HideChildren 是否在资源列表中隐藏子项"
        },
        "path": {
          "type": "string",
          "title": "Path 资源路径"
        },
        "icon": {
          "type": "string",
          "title": "Icon 资源图标，通常用于前端展示"
        },
        "component": {
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "children": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1Resource"
          },
          "title": "Children 子资源列表"
        },
        "description": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "Resource 资源定义，如：菜单等"
    },
    "v1ResourceType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_DIRECTORY",
        "TYPE_MENU",
        "TYPE_BUTTON",
        "TYPE_API"
      ],
      "default": "TYPE_UNSPECIFIED",
      "description": "- TYPE_DIRECTORY: 目录，在前端菜单树中，只起到“目录”作用，不直接绑定路由/组件\n - TYPE_MENU: 菜单\n - TYPE_BUTTON: 按钮\n - TYPE_API: API",
      "title": "Type 资源类型"
    },
    "v1UpsertAuthProvidersResponse": {
      "type": "object",
      "properties": {
        "providers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1AuthProvider"
          }
        }
      }
    },
    "v1User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "ID 用户 ID，全局唯一标识，使用 int64 序列化为 json 为 string 类型"
        },
        "username": {
          "type": "string",
          "title": "用户名，系统登录凭证，必须唯一"
        },
        "nickname": {
          "type": "string",
          "title": "昵称，用于社交或前端展示"
        },
        "profile": {
          "type": "string",
          "title": "个人简介或签名"
        },
        "picture": {
          "type": "string",
          "title": "用户头像 URL"
        },
        "website": {
          "type": "string",
          "title": "个人网站地址"
        },
        "zoneinfo": {
          "type": "string",
          "title": "时区信息（IANA 时区标识，例如 \"Asia/Shanghai\"）"
        },
        "locale": {
          "type": "string",
          "title": "用户偏好的语言与地区（例如 \"zh-CN\"、\"en-US\"）"
        },
        "type": {
          "$ref": "#/definitions/v1UserType",
          "title": "用户的基础身份类型，后端自动维护更新，非人为更新"
        },
        "status": {
          "$ref": "#/definitions/v1UserStatus",
          "title": "用户状态，表示当前账号的生命周期阶段"
        },
        "gender": {
          "$ref": "#/definitions/UserGender",
          "title": "性别"
        },
        "email_verified": {
          "type": "boolean",
          "title": "邮箱是否已验证"
        },
        "phone_number_verified": {
          "type": "boolean",
          "title": "手机号码是否已验证"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "创建时间"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "更新时间"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "title": "删除时间"
        },
        "realname": {
          "type": "string",
          "title": "真实姓名，用于实名认证或后台展示"
        },
        "national_id": {
          "type": "string",
          "title": "身份证号，用于身份验证（可选）"
        },
        "email": {
          "type": "string",
          "title": "邮箱地址"
        },
        "birthday": {
          "type": "string",
          "format": "date-time",
          "title": "出生日期"
        },
        "phone_number": {
          "$ref": "#/definitions/v1PhoneNumber",
          "title": "手机号码"
        },
        "address": {
          "$ref": "#/definitions/v1Address",
          "title": "地址信息"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "自定义元数据，用于存储额外的用户信息（如 JSON 字符串）"
        }
      },
      "title": "User 用户实体，表示系统中的账号信息"
    },
    "v1UserGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID 用户群组关系 ID，全局唯一标识"
        },
        "user_id": {
          "type": "integer",
          "format": "int32",
          "title": "UserID 用户 ID，关联用户表"
        },
        "username": {
          "type": "string",
          "title": "Username 用户名，来自用户表"
        },
        "nickname": {
          "type": "string",
          "title": "Nickname 用户昵称，来自用户表"
        },
        "group_id": {
          "type": "integer",
          "format": "int32",
          "title": "GroupID 群组 ID，关联群组表"
        },
        "member_role": {
          "$ref": "#/definitions/v1UserGroupRole",
          "title": "Role 用户在群组中的角色"
        },
        "member_status": {
          "$ref": "#/definitions/v1UserGroupStatus",
          "title": "Status 用户群组关系状态"
        },
        "joined_at": {
          "type": "string",
          "format": "date-time",
          "title": "JoinedAt 用户加入群组的时间"
        },
        "expired_at": {
          "type": "string",
          "format": "date-time",
          "title": "ExpiredAt 关系有效期，用于临时成员管理，0表示永久有效"
        },
        "created_by": {
          "type": "integer",
          "format": "int32",
          "title": "CreatedBy 创建者 ID，记录创建该关系的用户"
        },
        "updated_by": {
          "type": "integer",
          "format": "int32",
          "title": "UpdatedBy 最后更新者 ID，记录最后修改该关系的用户"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "CreatedAt 创建时间，记录关系的创建时间戳"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "UpdatedAt 更新时间，记录关系的最后修改时间戳"
        },
        "deleted_at": {
          "type": "string",
          "format": "date-time",
          "title": "DeletedAt 删除时间，用于软删除机制"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "Metadata 元数据，用于存储自定义属性，支持业务扩展"
        },
        "description": {
          "type": "string",
          "title": "Description 群组描述，详细说明群组的目的和用途"
        }
      },
      "title": "UserGroup 用户群组关系\n该模型用于描述用户与群组之间的关联关系，支持多状态管理和角色定义"
    },
    "v1UserGroupRole": {
      "type": "string",
      "enum": [
        "ROLE_UNSPECIFIED",
        "ROLE_OWNER",
        "ROLE_ADMIN",
        "ROLE_MEMBER",
        "ROLE_GUEST"
      ],
      "default": "ROLE_UNSPECIFIED",
      "description": "- ROLE_UNSPECIFIED: 默认值/未指定\n - ROLE_OWNER: 所有者：拥有群组最高权限\n - ROLE_ADMIN: 管理员：管理群组成员和基本设置\n - ROLE_MEMBER: 普通成员：拥有基本访问权限\n - ROLE_GUEST: 访客：拥有受限访问权限",
      "title": "用户在群组中的角色枚举"
    },
    "v1UserGroupStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_PENDING",
        "STATUS_ACTIVE",
        "STATUS_INVITED",
        "STATUS_DISABLED",
        "STATUS_REJECTED",
        "STATUS_LEFT"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": "- STATUS_UNSPECIFIED: 默认值／未知状态：系统默认值，通常不直接使用\n - STATUS_PENDING: 待激活／待验证：用户申请加入群组等待审批\n - STATUS_ACTIVE: 正常启用状态：用户正式加入群组\n - STATUS_INVITED: 被邀请加入：用户收到群组邀请但尚未回应\n - STATUS_DISABLED: 禁用（人工停用）：用户被临时限制群组权限\n - STATUS_REJECTED: 被拒绝加入：用户申请或邀请被拒绝\n - STATUS_LEFT: 已退出：用户主动退出群组",
      "title": "用户群组关系状态"
    },
    "v1UserStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_PENDING",
        "STATUS_ACTIVE",
        "STATUS_LOCKED",
        "STATUS_DISABLED",
        "STATUS_EXPIRED"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": "- STATUS_UNSPECIFIED: 默认值／未知状态\n - STATUS_PENDING: 待激活／待验证\n - STATUS_ACTIVE: 正常启用状态\n - STATUS_LOCKED: 被锁定（如连续密码错误、账号风控等）\n - STATUS_DISABLED: 禁用（人工停用）\n - STATUS_EXPIRED: 过期等（订阅过期、账号注销等）",
      "title": "用户状态（枚举值预计不会太频繁变化）\n可以根据业务再增加状态"
    },
    "v1UserType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_CUSTOMER",
        "TYPE_MERCHANT",
        "TYPE_SUPPLIER",
        "TYPE_EMPLOYEE",
        "TYPE_ADMIN",
        "TYPE_SYSTEM"
      ],
      "default": "TYPE_UNSPECIFIED",
      "description": "- TYPE_UNSPECIFIED: 默认值\n - TYPE_CUSTOMER: 外部用户 / 业务伙伴\n\n前台用户 / 消费者\n - TYPE_MERCHANT: 商户 / 卖家\n - TYPE_SUPPLIER: 供应商 / 合作方\n - TYPE_EMPLOYEE: 内部用户 / 员工\n\n后台用户 / 内部员工\n - TYPE_ADMIN: 系统管理员\n - TYPE_SYSTEM: 系统账户 (为安全和区分，编号拉开)\n\n系统集成账户 / 机器人",
      "title": "用户的系统类型或所属边界"
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "name": "Authorization: Bearer \u003ctoken\u003e",
      "in": "header"
    },
    "BasicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "BasicAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "Code generated by \"grpc-kit-cli/0.3.8-beta.1\"",
    "url": "https://grpc-kit.com"
  }
}
